{include file="../_common/head.tpl"}

<body>

	<div class="banner-top center-banner">
	
		{if $site.isComputer}
		
			<div class="bnr centered">
				<script>OAS_AD('Left2');</script>
			</div>
			
		{else}
			
			<div class="bnr"><script>OAS_AD('x10');</script></div>
			
		{/if}
			
	</div>
	
	<div class="galery-content-wrap">
		<div class="colRight">
			<div class="aside-overflow">
				<img src="{$site.urlStatic}_common/images/logos/logo-mega.png" alt="Mega.cl" class="logo-site">
				<div class="wrapTransGal">
					<h3>{$data.articulo.titulo}</h3>
					<p>{$data.articulo.bajada}</p>

					<div class="shareGalery">
					<span>Comparte esta galería</span>
						<a href="javascript:fbShare('{$data.articulo.url}', '{$data.articulo.titulo}', '{$data.articulo.bajada}', '{$data.articulo.imagen}', 520, 350)" class="cq-button facebook">facebook</a>
						<a href="javascript:twShare('{$data.articulo.url}', '{$data.articulo.titulo}', '{$data.articulo.bajada}', '{$data.articulo.imagen}', 520, 350)" class="cq-button twitter">twitter</a>
						{if !$site.isComputer}
							<a href="whatsapp://send?text={$data.articulo.titulo} {$data.articulo.url}" class="cq-button wsp">WhatsApp</a>
						{/if}
					</div>
				</div>
				
				{if $site.isComputer}
				
					<span class="robapagina">
							<script language="javascript" type="text/javascript">OAS_AD('TopRight');</script>
					</span>
					
				{/if}
				
			</div>
		</div>
		<div class="colLeft">
			<div id="gallery" class="royalSlider rsDefault no-visible">				
				{foreach $data.articulo.galeria as $key => $row}
				
					<div class="rsSlideBlock">
						{if $key == 0}							
							<div class="vert-center-title">
								<div class="titulo-galeria">
									<h3>{$data.articulo.titulo}</h3>
									<p>{$data.articulo.bajada}</p>
								</div>
							</div>
							<span class="bg-cover"></span>
						{/if}

						 <a class="rsImg bugaga" data-rsBigImg="{$row.url}{$row.nombre}" href="{$row.url}{$row.nombre}"><img width="96" height="72" class="rsTmb" src="{$row.url}{$row.nombre}?d=150x150" /><h4 class="caption-text">{$row.descripcion}</h4></a>

					</div>				
				{/foreach}				
			</div>
			<div id="lb-loading">
				<span class="lb-center">
					<div class="spinner">
					  <div class="bounce1"></div>
					  <div class="bounce2"></div>
					  <div class="bounce3"></div>
					</div>
				</span>
				<p>cargando</p>
			</div>
		</div>

		{if !$site.isComputer}
		
			<div class="center-banner">
				<div class="centered">
					<script>OAS_AD('x11');</script>
				</div>
			</div>
			
		{/if}

		{foreach $data.nextGalerias as $row}
		
			{if $data.articulo.id != $row.id && $data.articulo.id < $row.id}
			
				<input type="hidden" id="nextUrl" name="nextUrl" value="{$site.urlBase}galerias/?galeria={$row.id}">
				
				{break}

			{/if}	
			
		{/foreach}

	</div>
</body>
</html>