/*************************************************CORE *NO BORRAR* *****************************/
/* v1.0.4 */
.royalSlider {
	width: 600px;
	height: 400px;
	position: relative;
	direction: ltr;
}
.royalSlider > * {
	float: left;
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
	-webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
	position: absolute;
	left: 0;
	top: 0;
}
.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}
.rsThumb {
	float: left;
	position: relative;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}
.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
	display: none;
}
/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}
.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}
.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}
.rsPreloader {
	position:absolute;
	z-index: 0;
}
.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}
.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
	background: none !important;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}
.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}
.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;
}
img.rsImg {
	max-width: none;
}
.grab-cursor {
	/*cursor:url(grab.png) 8 8, move;*/
}
.grabbing-cursor{
	cursor:url(grabbing.png) 8 8, move;
}
.rsNoDrag {
	cursor: auto;
}
.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;
	z-index: 20;
	background: url(blank.gif);
}
/***********************************
				inicio estilo
***********************************/
.banner-top{
	height: 90px;
}
.no-visible, .no-visible .rsSlideBlock{
	opacity: 0;
}
.center-banner{
	text-align: center;
}
.centered{
	display: inline-block;
}
body{
	font-size: 62.5%;
  	line-height: 1;
  	position: static;
  	font-family: 'Antartida', sans-serif;
   background: #901F8B;
}
.galery-content-wrap{
   position: absolute;
   width: 100%;
   top: 100px;
   bottom: 0;
}
.recomendados{
	position: absolute;
	background-color: red;
}
.colLeft{
	position: absolute;
	border-radius: 20px;
	overflow: hidden;
	z-index: 6;	
	width: auto;
	top: 0;
	left: 10px;
	right: 340px;
	bottom: 10px;
}
/*  caption de la galeria  */
.rsGCaption{
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 1;
	text-align: center;
	display: block;
}
.rsGCaption .caption-text{
	font-size: 1.4em;
   color: #FFF;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 90%;
    line-height: 1.2em;
    font-weight: 300;
}
.rsGCaption .caption-text:empty{
	display: none;
}
/*  Primer slide titulo galeria  */
.titulo-galeria{
    padding: 20px 30px;
    color: white;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    text-align: center;
    z-index: 1;
    background-color: #0095FF;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.vert-center-title{
	display: none;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 3;
   text-align: center;
   filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#66290327, endColorstr=#66290327);
   background-color: rgba(41, 3, 39, 0.40);
}
.vert-center-title:before{
	content: ' ';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.rsSlideBlock.first .vert-center-title{
	display: block;
}
.titulo-galeria h3{
    font-size: 2.9em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #FFF;
    line-height: 1;
    font-weight: 900;
    border-bottom: 1px solid #4CABEF;
}
.titulo-galeria p{
    font-weight: 300;
    font-size: 1.2em;
    color: #B8DEF9;
    line-height: 1;
}
.rsSlideBlock.first img{
	visibility: hidden;
}
.rsSlideBlock.first .bg-cover{
	-webkit-filter: blur(6px);
	filter: blur(6px);
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
 }
/*	ASIDE */
.colRight{
    position: absolute;
    right: 10px;
    width: 320px;
    z-index: 2;
    background-color: #63105F;
    border-radius: 20px;
    bottom: 10px;
    top: 0;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.65);
    border-top-left-radius: 0;
    padding-bottom: 20px;
}
.colRight:before{
    content: ' ';
    position: absolute;
    border: 13px solid transparent;
    border-top: 26px solid #63105F;
    left: -10px;
    top: 0px;
}
.colRight:after{
    content: ' ';
    position: absolute;
    top: 0px;
    left: -25px;
    width: 25px;
    height: 21px;
    border-top-right-radius: 15px;
    background-color: #901F8B;	
}
.colRight .aside-overflow{
    overflow: auto;
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.colRight .aside-overflow::-webkit-scrollbar {
    width: 10px;
}
.colRight .aside-overflow::-webkit-scrollbar-thumb {
    background-color: #94268F;
    border-radius: 5px;
}
.colRight .aside-overflow::-webkit-scrollbar-track {
    background-color: #C5A2C7;
    border-radius: 7px;
}
.colRight img{
    margin: 0 auto 20px;
    display: block;
}
.logo-site{
    width: 74px;
}
.wrapTransGal{
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapTransGal h3{
    font-size: 1.5em;
    color: #FFF;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1;
}
.wrapTransGal p{
    font-size: 1.1em;
    color: #CEBFCD;
    font-weight: 300;
    line-height: 1.1;
}
.shareGalery{
    overflow: hidden;
    background-color: #00CD70;
    border-radius: 10px;
    margin-top: 14px;
    padding: 10px 0;
}
.shareGalery span{
    color: #FFF;
    font-size: 1.2em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.shareGalery .cq-button{
    padding: 8px 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    color: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.32);
    text-transform: uppercase;
    font-size: 1.1em;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.shareGalery li a{
	color: white;
	text-decoration: none;
}
.facebook{
	background-color: #3b5998;
}
.facebook:hover{
	background-color: #3767CC;
}
.twitter{
	background-color: #00aced;
}
.twitter:hover{
	background-color: #0FB6F5;
}
.wsp{
    background-color: #5CBD4A;
}
.robapagina{
width: 300px;
    margin: 0 auto;
    display: block;
}
#gallery{
 	width: 100%;
 	position: relative;
 	height: 100%;
 	z-index: 10;
}
.fullHeight{
	height: 100%!important;
}
#recomendados{
	z-index: 500;
	position: absolute;
	background-color: white;
	width: 200px;
	display: none;
}
.recomend{
	width: 80%;
	margin: 0 auto;
	padding-left: 2%;
	max-width: 800px
}
.recomend li{
	width: 22%;
	margin-right: 2%;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	margin-bottom: 10px;
}
.recomend li img{
	width: 100%;
}
.recomend li h3{
	font-size: 12px;
	color: rgb(189, 185, 185);
	margin-top: 2px;
	padding: 4px 2px 0;
	border-top: 1px solid rgb(73, 73, 73);
}
.recomend h2{
	text-align: center;
	color: rgb(209, 209, 209);
	text-transform: uppercase;
	margin: 10px 0;
	font-size: 20px;
}
.rsContainer div li{
	position: relative;
}
.rsContainer div li a{
	text-decoration: none;
}
/* loader */
#lb-loading{
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-top: -10px;
    margin-left: -100px;
}
#lb-loading .lb-center{
  display: inline-block;
}
#lb-loading p{
    font-weight: 700;
    font-size: 1.7em;
    padding-top: 4px;
    color: #FFF;
    color: rgba(255, 255, 255, 0.9);
}
.spinner {
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFF;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*****************************
    ESTILO PROPIO SLIDER
******************************/
/* Background */
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
	background: #111111
}
/***************
*
*  1. Arrows
*
****************/
.rsDefault .rsArrow {
	height: 100%;
	width: 44px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsDefault.rsVer .rsArrow {
	width: 100%;
	height: 44px;

}
.rsDefault.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsDefault.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsDefault.rsHor .rsArrowRight { right: 0; top:0; }

.rsDefault .rsArrowIcn {
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	position: absolute;
	cursor: pointer;
	background: url('../../_common/images/rs-default.png');
	background-color: #FF3C79;
	border-radius: 50%;
	box-shadow: 0 2px 7px -2px #000;
}
.rsDefault .rsArrowIcn:hover {
   background-color: #FD558A;
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn { background-position: -61px -28px; }
.rsDefault.rsHor .rsArrowRight .rsArrowIcn { background-position: -61px -60px; }

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsDefault.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsDefault .rsArrowDisabled .rsArrowIcn { background-color: #FF3C79; opacity: .4;}
/***************
*
*  2. Bullets
*
****************/
.rsDefault .rsBullets {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #000;
	background: rgba(0,0,0,0.75);
	text-align: center;
	line-height: 18px;
	overflow: hidden;
}
.rsDefault .rsBullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 5px 1px;
	border-radius: 50%;
	background: #777;
	background: rgba(255,255,255,0.5);
}
.rsDefault .rsBullet.rsNavSelected  {
	background-color: #FFF;
}
/***************
*
*  3. Thumbnails
*
****************/
.rsDefault .rsThumbsHor {
	padding-bottom: 4px;
	width: 100%;
	height: auto;
}
.rsDefault .rsThumbsVer {
	padding-right: 4px;
	width: 96px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.rsDefault.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
	position: relative;
	width: 100%;
}
.rsDefault .rsThumb {
	float: left;
	overflow: hidden;
	width: 100px;
	height: auto;
}
.rsDefault .rsThumb img {
	width: 100%;
	height: 100%;
}
.rsDefault .rsThumb.rsNavSelected {
	background: #412F8A;
}
.rsDefault .rsThumb.rsNavSelected img {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.rsDefault .rsTmb {
	display: block;
}
/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
	height: 100%;
	width: 20px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
	background: #000;
	background: rgba(0,0,0,0.75);
}
.rsDefault .rsThumbsArrow:hover {
	background: rgba(0,0,0,0.9);
}
.rsDefault.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 20px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsDefault .rsThumbsArrowIcn {
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top:-8px;
	margin-left: -8px;
	position: absolute;
	cursor: pointer;
	background: url('../../_common/images/rs-default.png');
}

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsDefault .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
	.rsDefault .rsThumb {
		width: 70px;
		height: 70px;
	}
	.rsDefault .rsThumbsHor {
	}
	.rsDefault .rsThumbsVer {
		width: 59px;
	}
}
/***************
*
*  5. Fullscreen button
*
****************/
.rsDefault .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;

}
.rsDefault .rsFullscreenIcn {
    display: block;
    margin: 6px;
    width: 32px;
    height: 32px;
    background: url('../../_common/images/rs-default.png') 0 0;
    background-color: #FF3C79;
    border-radius: 50%;
}
.rsDefault .rsFullscreenIcn:hover {
   background-color: #FD558A;
}
.rsDefault.rsFullscreen .rsFullscreenIcn {
	background-position: -32px 0;
}
/***************
*
*  6. Play/close video button
*
****************/
.rsDefault .rsPlayBtn {
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	width:64px;
	height:64px;
	margin-left:-32px;
	margin-top:-32px;
	cursor: pointer;
}
.rsDefault .rsPlayBtnIcon {
	width:64px;
	display:block;
	height:64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:url(../../_common/images/rs-default.png) no-repeat 0 -32px;
	background-color: rgba(0,0,0,0.75);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
	background-color: rgba(0,0,0,0.9);
}
.rsDefault .rsBtnCenterer {
	position:absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
}
.rsDefault .rsCloseVideoBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 500;
	position: absolute;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}
.rsDefault .rsCloseVideoBtn.rsiOSBtn {
	top: -38px;
	right: -6px;
	/*top: -6px;
	right: -38px;*/
}
.rsDefault .rsCloseVideoIcn {
	margin: 6px;
	width: 32px;
	height: 32px;
	background: url('../../_common/images//rs-default.png') -64px 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
}
.rsDefault .rsCloseVideoIcn:hover {
	background-color: rgba(0,0,0,0.9);
}
/***************
*
*  7. Preloader
*
****************/
.rsDefault .rsPreloader {
	width:20px;
	height:20px;
	/*background-image:url(../../preloaders/preloader-white.gif);*/

	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;
}
/*-----------------------------------MEDIAQ---------------------------------------------*/
@media screen and (max-width : 1024px){
	.banner-top{
		height: auto;
	}
	.colLeft{
		position: relative;
		left: auto;
		right: auto;
		bottom: auto;
		top: auto;
	}
	.galery-content-wrap, .colRight, .colLeft, .colRight .aside-overflow{
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
	}
	.galery-content-wrap{
		padding-bottom: 30px;
	}
	.colLeft{
    	margin: 0 5px 20px;
	}
	#gallery{
		height: 700px!important;
	}
	.colRight{
    box-shadow: none;
    padding-bottom: 0;
    width: auto;
    margin: 7px auto 20px;
    border-radius: 20px;
    width: 400px;
	}
	.colRight:before{
		display: none;
	}
	.colRight:after{
    bottom: -36px;
    background-color: transparent;
    border: 20px solid transparent;
    border-top: 20px solid #63105F;
    border-radius: 0;
    top: auto;
    left: 50%;
    margin-left: -20px;
	}
	.colRight .aside-overflow{
		padding-bottom: 0;
	}
	.colRight img.logo-site{
		margin: 10px auto 10px;
    	width: 60px;
	}
	.rsDefault .rsFullscreenBtn{
		display: none;
	}
	.shareGalery span{
		display: block;
    	margin-bottom: 5px;
	}
	.shareGalery{
		background-color: #881D83;
	}
	.titulo-galeria{
		max-width: 90%;
	}
	.titulo-galeria h3{
		font-size: 2em;
	}
	.shareGalery .cq-button{
		font-size: 1.4em;
	}
	/*muestra flechas al final*/
	.rsDefault .rsArrow{
		opacity: 0;
		visibility: hidden;
	}
	.rsDefault .rsArrow.rsArrowRight.rsArrowDisabled{
		opacity: 1;
    	visibility: visible;
    	display: block;
	    width: 40px;
	    height: 140px;
	    top: 50%;
	    margin-top: -70px;
	    position: absolute;
	    cursor: pointer;
	    background-color: #FF3C79;
	    border-radius: 12px;
	    box-shadow: 0 2px 7px -2px #000;
	    right: 5px;
	    -webkit-animation: moveButton 2s ease infinite;
    	animation: moveButton 2s ease infinite;
	}	
	.rsDefault .rsArrowDisabled .rsArrowIcn{
		    height: 49px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;
    opacity: 1
	}
	       
}
@-webkit-keyframes moveButton{
	0%{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
  }
  8%{
  	-webkit-transform: translateX(0);
  	transform: translateX(0);
  }
  16%{
  	-webkit-transform: translateX(-3px);
  	transform: translateX(-3px);
  }
  24%{
  	-webkit-transform: translateX(0);
  	transform: translateX(0);
  }
  100% {
  	-webkit-transform: translateX(0);
  	transform: translateX(0);
  }
}
@keyframes moveButton{
	0%{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
		transform: translateX(-3px);
  }
  8%{
  	-webkit-transform: translateX(0);
  	-ms-transform: translateX(0);
  	transform: translateX(0);
  }
  16%{
  	-webkit-transform: translateX(-3px);
  	-ms-transform: translateX(-3px);
  	transform: translateX(-3px);
  }
  24%{
  	-webkit-transform: translateX(0);
  	-ms-transform: translateX(0);
  	transform: translateX(0);
  }
  100% {
  	-webkit-transform: translateX(0);
  	-ms-transform: translateX(0);
  	transform: translateX(0);
  }
}
}
@media screen and (max-width : 700px){
	#gallery {
    height: 600px!important;
	}
}
@media screen and (max-width : 420px){
	.colRight{
		width: auto;
	 	margin: 7px 5px 20px;
	}
	#gallery {
    height: 520px!important;
	}
}
@media screen and (max-width : 320px){
	#gallery {
    height: 480px!important;
	}
}