@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
*, *:after, *:before {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
#main-footer{
	background-color: #492f92;
	border-top: 5px solid #3a2476;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
#main-footer .ft-width{
  width: 1200px;
  margin: 0 auto;
}
#main-footer .ft-col-wrap{
overflow: hidden;
  padding: 50px 0 70px;
}
#main-footer .ft-col{
	float: left;
  width: 18%;
}
#main-footer .ft-col li{
  margin-bottom: 2px;
  line-height: 15px!important;
}
#main-footer .ft-col h2{
  color: #EFE9FF;
  display: inline-block;
  border-bottom: 2px solid #F5F2FF;
  margin-bottom: 3px;
  padding-bottom: 0px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  line-height: 19px;
}
#main-footer .ft-col a, #main-footer .ft-col span{
	font-size: 11px;
	line-height: 15px!important;
	color: #CBBDEF;
	-webkit-transition: color 0.08s linear;
	transition: color 0.08s linear;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
#main-footer .ft-col a:hover{
	color: #FFF;
}
#main-footer .ft-col .pronto, #main-footer .ft-col .nuevo{
  background-color: #FFF;
  color: #492F92;
  font-size: 9px;
  width: 13px;
  line-height: 13px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
  margin-left: 1px;
}
#main-footer .ft-bottom-wrap{
	background-color: #3a2476;
  color: #CFC0F9;
  padding: 11px 0; 
}
#main-footer .ft-bottom-wrap p{
	font-size: 12px;
	line-height: 15px;
	font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 1400px){
	#main-footer .ft-width{
		width: 1100px;
	}
}
@media only screen and (max-width: 1126px){
	#main-footer .ft-width{
		width: 1000px;
	}
}
@media only screen and (max-width: 1024px){
	#main-footer .ft-width{
		width: 100%;
		padding: 0 20px;
	}
}
@media only screen and (max-width: 900px){
	#main-footer .ft-col{
		width: 25%;
	}
}
@media only screen and (max-width: 530px){
	#main-footer .ft-col-wrap{
		  padding: 20px 0 0;
	}
	#main-footer .ft-col {
	  width: 100%;
	  margin: 0 0 20px -18px;
	}
	#main-footer .ft-col li:first-child{
		  width: 100%;
	}
	#main-footer .ft-col li {
		margin: 0 0 12px 18px;
	  float: left;
	}
}