/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a,  
cite, code, del, dfn, em, img,
strong, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tr, th, td, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
*, *:after, *:before {
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}
li{
  list-style: none;
}
a, a:focus, button{
  outline: none;
}
/*SLIDER*/
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px;outline: none;}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.main-width{
  width: 1240px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Antartida';
  font-style: lighter;
  font-weight: 300;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Light.otf');
}
@font-face {
  font-family: 'Antartida';
  font-style: normal;
  font-weight: 400;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Medium.otf');
}
@font-face {
  font-family: 'Antartida';
  font-style: bold;
  font-weight: 700;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Bold.otf');
}
@font-face {
  font-family: 'Antartida';
  font-style: bolder;
  font-weight: 900;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Black.otf');
}
body{
  font-size: 62.5%;
  line-height: 1;
  font-family: 'Antartida', 'Roboto Condensed', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #FFF;
  /*nuevo skin*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1900px;
}
.content-article img, .mega-hero-link > img{
  border-radius: 20px;
}
.clear:after{
  content: ' ';
  display: table;
  clear: both;
}
body.cian{
  background-color: #0095FF;
}
body.purple{
  background-color: #90208B;
}
body.yellow{
  background-color: #FFC700;
}
body.pink{
  background-color: #FF3C79;
}
body.green{
  background-color: #00CD70;
}
/*===========================================
              MAXIMAS TRANSVERSALES
============================================*/
.mega-main-wrap{
  overflow-x: hidden;
  /*background-color: #FFF;*/
  position: relative;
  z-index: 1;
}
.mega-main-width{
  width: 1240px;
  margin: 0 auto;
}
.home-sec{
  margin-bottom: 10px;
}
.mega-b-radius{
  -webkit-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.with-shadow{
  box-shadow: 0 18px 20px -15px rgba(0, 0, 0, 0.4);
}
.clear:after{
  content: ' ';
  clear: both;
  display: table;
}
/*si*/
.big-center-title{
    color: #90208B;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}
/*no*/
.lo-mas-slider{
  padding-top: 30px;
}
.fantastic-title-wrap{
  text-align: left;
  padding-top: 15px;
}
.fantastic-title-wrap .big-center-title{
    font-size: 2.6em;
    margin-bottom: 8px;
    background-color: #90208B;
    display: inline-block;
    padding: 11px 23px 10px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    border-radius: 19px;
    box-shadow: 0 7px 20px -8px rgba(0, 0, 0, 0.3);
    font-weight: 900;
    position: relative;
}
.full-width-sec .fantastic-title-wrap .big-center-title{
  background-color: #FF3C79;
}
.fantastic-title-wrap .title-tail{
   width: 20px;
    position: absolute;
    left: 0;
    top: 28px;
    height: 48px;
    -webkit-transform: rotate(180deg) rotateY(180deg);
    -ms-transform: rotate(180deg) rotateY(180deg);
    transform: rotate(180deg) rotateY(180deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
/*===================================
              HEADER
====================================*/
.menu-toggle{
  display: none;
}
.mega-main-head-wrap{
  height: 130px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.mega-main-head{
  background-color: #90208B;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
  height: 130px;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.go-home{
    display: block;
    float: left;
    height: 122px;
    overflow: hidden;
    position: relative;
    margin-top: -4px;
    padding-left: 12px;
}
.mega-main-head .mega-logo{
    height: auto;
    width: 108px;
    margin-top: 0px;
}
/*when fixed*/
.mega-main-head-wrap.fixed .mega-main-head{
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    height: 90px;
    top: 0;
    border-radius: 0;
    box-shadow: 0 1px 8px rgba(0,0,0,.2);
    padding: 7px 50px 7px 24px;
    -webkit-transition: box-shadow 0.2s ease, opacity 0.2s ease;
    transition: box-shadow 0.2s ease, opacity 0.2s ease;
    -webkit-animation: showNavBar 0.2s linear;
    animation: showNavBar 0.2s linear;    
}
.mega-main-head-wrap.fixed .vert-center {
    height: 100%;
}
@-webkit-keyframes showNavBar{
0% {    
    opacity: 0;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  85%{
    opacity: 0.5;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes showNavBar{
0% {    
    opacity: 0;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  85%{
    opacity: 0.5;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.mega-main-head-wrap.fixed .go-home{
  height: 87px;
  top: 0;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
.mega-main-head-wrap.fixed .mega-logo{
  width: 78px;
  height: auto;
}
.mega-main-head-wrap.fixed .mega-main-head .nav-link.two-lines{
  padding-top: 5px;
}
.mega-main-head-wrap.fixed .mega-main-head .toggle-search-wrap{
  right: 92px;
  left: 130px;
}
/**/
.vert-center{
  height: 100%;
  position: relative;
}
.vert-center:before{
  content: ' ';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.vert-center .center-content{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 2;
}
/*nav buttons*/
ul.capsulas{
  text-align: left;
}
.mega-main-head .nav-wrap{
  float: left;
}
.mega-main-head .nav-wrap .nav-item{
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.mega-main-head .nav-link{
  display: block;
  padding: 10px 5px 9px;
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-align: center;
}
.mega-main-head .nav-link.two-lines{
  /*padding-top: 22px;*/
}
.mega-main-head .nav-link i{
  font-family: 'Arial', sans-serif;
}
.mega-main-head .nav-link:hover{
  color: #EFC73C;
}
.mega-main-head .nav-link.current{
  color: #EFC73C;
}
.mega-main-head .live-item .nav-link{
  background-color: #0095FF;
  border-radius: 20px;
  padding: 11px 13px;
  -webkit-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  opacity: .9;
}
.mega-main-head .live-item .nav-link:hover{
  color: #FFF;
  box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.mega-main-head .live-item .nav-link.current{
  color: #FFF;
  background-color: #FF3C79;
}
.mega-main-head .live-item.la-roja-item .nav-link{
  background-color: #F14B4B;
  position: relative;
  padding-left: 35px;
  padding-right: 9px;
}
.mega-main-head .live-item.la-roja-item .nav-link:before{
  content: ' ';
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-color: #FFFEFE;
  border-radius: 12px;
  margin-right: 5px;
  position: absolute;
  left: 7px;
  top: 5px;
}
.mega-main-head .live-item.la-roja-item .nav-link:after{
  content: ' ';
  background: url(../images/sprites-mega.png) no-repeat -104px -1px;
  position: absolute;
  width: 17px;
  height: 18px;
  left: 11px;
  top: 9px;
}
.mega-main-head .live-item.m25-item .nav-link{
  background-color: #FF3C79;
}
.mega-main-head .live-item.cap-completos .nav-link {
    background-color: #FDBC03;
}
.mega-main-head .live-item.espect-item .nav-link {
    background-color: #00CD70;
}
.mega-main-head .live-item.cap-completos .nav-link.current {
    box-shadow: 0 0px 13px 0px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.aling-right-col{
    display: inline-block;
    vertical-align: middle;
    width: 98%;
}
.mobile-nav-link{
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: #0095FF;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.3);
    color: #FFF;
    padding: 12px 10px 11px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    line-height: 1;
    text-align: center;
    margin-left: 4px;
}
/*buscador*/
.buscador-home{
    display: inline-block;
    position: relative;
    width: 97%;
    vertical-align: middle;
}
.toggle-search-wrap .buscador-home{
    width: 500px;
}
.buscador-home:after{
    content: ' ';
    background: url(../images/sprites-mega.png) no-repeat -69px -1px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 20px;
    right: 17px;
    top: 7px;
}
.buscador-home .input-home{
    border-radius: 20px;
    height: 33px;
    background-color: transparent;
    border: 2px solid #FDE6FB;
    width: 100%;
    display: inline-block;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: 300;
    outline: none;
    padding-right: 40px;
}
.buscador-home .input-home::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.buscador-home .input-home::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.buscador-home .input-home:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.buscador-home .search-button-home{
    width: 36px;
    height: 33px;
    border: none;
    background-color: transparent;
    display: inline-block;
    outline: none;
    position: absolute;
    z-index: 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 0;
    top: 0;
    padding: 0;
}
/*social*/
.social-wrap{
  display: inline-block;
  vertical-align: middle;
}
.nav-right{
  float: right;
}
.circle-button{
    width: 33px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #FDE6FB;
    border-radius: 100%;
    overflow: hidden;
    text-indent: -100px;
    text-align: left;
    position: relative;
    -webkit-transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
    transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
}
.circle-button:hover{
      box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.5);
}
.circle-button.toggle-search:hover{
  cursor: pointer;
}
/*icono buscar*/
.search-icon:after{
    content: ' ';
    background: url(../images/sprites-mega.png) no-repeat -69px -1px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 20px;
    right: 8px;
    top: 6px;
}
.social-icon:after{
    content: ' ';
    background: url(../images/sprites-mega.png) no-repeat -121px -1px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 20px;
    right: 6px;
    top: 4px;
}
/*hidden-socials-toggle*/
.social-toggler{
  position: relative;
  margin-right: 10px;
}
.show-on-mobile-nav, a.circle-button.mobile-search-button{
  display: none;
}
/*wrap-socials*/
.toc-socials.social-wrap{
    background-color: #00CD70;
    position: absolute;
    box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-radius: 15px;
    right: -83px;
    bottom: -26px;
    width: 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.mega-main-head-wrap.fixed .mega-main-head .toc-socials.social-wrap{
    bottom: -59px
}
.social-toggler:hover .toc-socials.social-wrap{
   width: 200px;
   opacity: 1;
   overflow: visible;
}
.toc-socials.social-wrap:after{
    content: ' ';
    display: block;
    position: absolute;
    border: 11px solid transparent;
    border-bottom: 12px solid #00CD70;
    top: -10px;
    right: 90px;
    margin-top: -10px;
}
.toc-socials.social-wrap .social-item{
    margin: 0 5px;
}
/*search toggler*/
.toggle-search-wrap{
    position: absolute;
    left: 100px;
    top: 0;
    bottom: 0;
    right: 59px;
    background-color: #90208B;
    z-index: 10;
    height: auto;
    overflow: hidden;
    width: 0;
    opacity: 0;
    text-align: right;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
}
.toggle-search-wrap .buscador-home .input-home{
    transition: width 0.5s cubic-bezier(0.35, 0.2, 0, 1) .1s, opacity 0.5s ease .1s;
    width: 0;
    opacity: 0;
}
.toggle-search-wrap.visible{
    opacity: 1;
    width: auto;
}
.toggle-search-wrap.visible .buscador-home .input-home{
  width: 100%;
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.toggle-search.active.search-icon:after{
    content: 'X';
    background: none;
    color: #FFF;
    font-size: 2em;
    text-indent: 0;
    text-align: center;
    top: 5px;
    right: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
}
/**/
.mobile-lb-menu .social-wrap{
    text-align: center;
    display: none;
    padding: 16px 10px 9px;
    margin-top: 15px;
    border-top: 1px solid #9A3196;
}
.mobile-lb-menu .social-wrap:before{
    content: 'REDES SOCIALES';
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #FFDDFD;
    font-size: 1.1em;
    font-weight: 300;
}
.social-wrap .social-item{
    display: inline-block;
    margin: 0 3px;
}
.social-wrap .social-link{
     width: 33px;
    height: 33px;
    display: block;
    border: 2px solid #FFF;
    border-radius: 100%;
    overflow: hidden;
    text-indent: -100px;
    text-align: left;
    position: relative;
    -webkit-transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
    transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
}
.social-wrap .social-link:hover{
    box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.6);
}
.social-wrap .social-link.fb:hover{
  background-color: #5476BD;
}
.social-wrap .social-link.tw:hover{
  background-color: #61B7F7;
}
.social-wrap .social-link.ig:hover{
  background-color: #1876BB
}
.social-wrap .social-link.yt:hover{
  background-color: #e03b3b;
}
.social-wrap .social-link:after{
  content: ' ';
  background: url(../images/sprites-mega.png) no-repeat 0 0;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}
.social-wrap .social-link.fb:after{
    background-position: -1px -1px;
    width: 10px;
    height: 19px;
    left: 9px;
    top: 5px;
}
.social-wrap .social-link.tw:after{
    background-position: -13px -1px;
    width: 18px;
    height: 17px;
    left: 6px;
    top: 7px;
}
.social-wrap .social-link.ig:after{
    background-position: -31px -1px;
    width: 19px;
    height: 17px;
    left: 5px;
    top: 6px;
}
.social-wrap .social-link.yt:after{
    background-position: -49px -1px;
    width: 20px;
    height: 14px;
    left: 4px;
    top: 8px;
}
.social-wrap .social-link.wap:after{
    background-position: -86px -1px;
    width: 17px;
    height: 17px;
    left: 6px;
    top: 6px;
}
/*===================================
            HERO MEGA
====================================*/
.mega-hero-slider.with-shadow{
  border-radius: 20px;
}
.mega-hero-slide-wrap .mega-hero-slider{
  position: relative;
}
.mega-hero-landing-img{
  min-height: auto!important;
}
/*.mega-hero-slider article{
  position: absolute;
  top: 0;
}
.mega-hero-slider article:first-child{
  z-index: 2;
  position: relative;
}*/
.mega-hero-link{
  position: relative;
  display: block;
}
.mega-hero-slider img{
  width: 100%;
  height: auto;
  display: block;
}
/*header*/
.hero-slider-caption{
  position: absolute;
  top: 0;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
}
.hero-slider-caption .center-content{
  width: 43%;
  padding-left: 30px;
}
.hero-slider-caption:after{
  content: ' ';
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 20%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.8) 100%);
  width: 60%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.mega-hero-landing-img .hero-slider-caption:after{
  display: none;
}
.mega-program .hero-slider-caption .center-content{
  margin-bottom: 30px;
}
.hero-slider-caption h3{
  font-size: 3.9em;
  color: #FFF;
  line-height: 1em;
  font-weight: 900;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
/***slider animations***/
/*capsule*/
.animated-capsule{
  background-color: #00CD70;
  color: #FFF;
  font-size: 1.4em;
  padding: 9px 13px 10px;
  border-radius: 20px;
  line-height: 1.3em;
  display: inline-block;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  z-index: 1;
}
.animated-capsule:after, .animated-capsule:before{
  content: ' ';
  display: block;
  position: absolute;
  background-color: #FF3C79;
  width: 104%;
  height: 100%;
  top: 0;
  border-radius: 20px;
  -webkit-transition: left 1s ease 0.6s;
  transition: left 1s ease 0.6s;
  left: 102%;
  z-index: 2;
}
.animated-capsule:before{
  background-color: #0095FF;
  z-index: 1;
}
.slick-slide.slick-active .animated-capsule:after, .slick-slide.slick-active .animated-capsule:before{
  left: -104%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.slick-slide.slick-active .animated-capsule:before{
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
/*ballon*/
.ballon{
    background-color: #FFF;
    color: #333;
    font-size: 1.5em;
    padding: 9px 15px 10px;
    border-radius: 20px;
    line-height: 1.3em;
    display: inline-block;
    position: relative;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    margin-left: -2px;
}
#top-tail{
    width: 20px;
    position: absolute;
    left: 0;
    top: -28px;
    height: 48px;
}
.ballon span{
  position: relative;
  z-index: 1;
  color: #90208B;
}
/*-*/
.ballon, .animated-capsule{
  float: left;
  clear: both;
  margin-bottom: 6px;
}
/*hero text description*/
.sub-title{
    color: #FFF;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.sub-title:after{
  content: ' ';
  position: absolute;
  display: block;
  width: 50px;
  background-color: #FFF;
  height: 2px;
  left: 0;
  bottom: 0;
}
.hero-text{
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    padding-top: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    width: 80%;
    clear: both;
}
/*social program*/
.mega-hero-slide-wrap .sharer-section{
    position: absolute;
    left: 25px;
    bottom: 19px;
    border: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 2;
}
/*arrows*/
.slick-prev, .slick-next{
  position: absolute;
  bottom: 0;
}
/*dots*/
.mega-hero-slide-wrap .slick-dots{
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    z-index: 1000;
    height: 0;
    overflow: visible
}
.mega-hero-slide-wrap .slick-dots li{
    display: inline-block;
    margin: 0 6px;
}
.mega-hero-slide-wrap .slick-dots button{
     border-radius: 8px;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #FFF;
    padding: 0;
    text-indent: -50px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); 
}
.mega-hero-slide-wrap .slick-dots .slick-active button{
  background-color: #0095FF;
}
/*=============================================
                  HOME MEGA
==============================================*/
.medium-slider .medium-slider-item{
  padding: 0 5px;
  width: 33.333%;
  float: left;
  position: absolute;
  top: 10px;
}
.medium-slider .medium-slider-item:nth-child(-n+3){
  position: relative;
  z-index: 2;
  top: 0;
}
.medium-slider.slick-initialized .medium-slider-item{
  width: auto;
  position: relative;
  top: 0;
}
.medium-slider.slick-slider .slick-list{
   padding-bottom: 23px!important;
}
.content-article header.medium-hidden{
    padding: 0;
    text-align: center;
    background: #00CD70;
    background: rgba(0, 205, 112, 0.85);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    height: 100px;
    transform: translate3d(0,0,0);
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease;
}
.content-article header.medium-hidden:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1%;
}
.content-article .content-link:hover header.medium-hidden{
    height: 100%!important;
    background: #00CD70;
    background: rgba(0, 205, 112, 0.95);
}
header.medium-hidden h3{
    font-weight: 300;
    margin-bottom: 0;
    width: 96%;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 8px 7px 3px;
    font-size: 1.6em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
header.medium-hidden h3 .the-button{
    color: #FFF;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 0.7em;
    text-transform: uppercase;
    line-height: 1em;
    background-color: #06E881;
    margin: 5px auto 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.content-article:hover header.medium-hidden  h3 .the-button{
    display: block;
    opacity: 1;
}
.medium-slide-1.with-sidebar-margin{
    margin-right: 280px;
    padding-left: 40px;
    left: -40px;
    position: relative;
}
.teleserie-nombre{
    color: #FFF;
    font-size: 1.2em;
    margin-bottom: 4px;
    padding-bottom: 4px;
    display: block;
    position: absolute;
    border-radius: 10px;
    background-color: #1D91FE;
    padding: 5px 10px;
    top: 5px;
    left: 9px;
    z-index: 2;
  }
/*===================================
            AHN & EM
====================================*/
.two-col-sec{
  margin-left: -5px;
  margin-right: -5px;
}
.two-col-home{
  float: left;
  padding: 0 5px;
  width: 50%;
  position: relative;
  margin-bottom: 30px;
}
.two-col-home h2{
    color: #90208B;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.tc-home-block{
  position: relative;
}
.big-slide.with-shadow{
  border-radius: 20px;
}
.two-col-home .content-article header{
  /*padding-bottom: 30px;*/
}
.two-col-home img{
  width: 100%;
  height: auto;
  display: block;
}
.two-col-home .big-slide a{
  position: relative;
  display: block;
}
.two-col-home .big-slide a{
  height: 0;
  padding-bottom: 46.5%;
}
.big-slide .slick-dots{
    position: absolute;
    bottom: -25px;
    width: 100%;
    text-align: center;
}
.big-slide .slick-dots li{
  display: inline-block;
    margin: 0 6px;
}
.big-slide .slick-dots button {
    border-radius: 8px;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #FFC700;
    padding: 0;
    text-indent: -50px;
    overflow: hidden;
}
.big-slide .slick-dots .slick-active button {
    background-color: #FF3C79;
}
.sites-logo{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 75px;
    display: block;
    border-radius: 15px;
    opacity: 1;
}
.col-25-a .sites-logo{
      width: 161px;
    border-radius: 0;
}
.big-slide .content-article h3{
  font-size: 2.1em;
}
/*===================================
          FULL WIDTH SEC
====================================*/
.full-width-sec{
  background-color: #881D83;
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
}
.full-width-sec:after, .full-width-sec:before{
  content: ' ';
  background-color: #881D83;
  position: absolute;
  height: 100%;
  width: 101%;
  right: -99%;
  z-index: 0;
  top: 0;
  bottom: 0;
}
.full-width-sec:before{
  left: -99%;
  right: auto;
}
.fw-sec-content{
  position: relative;
  z-index: 1;
}
.full-width-sec .big-center-title{
  color: #FFF;
}
/*===================================
          SECCION PROGRAMAS
====================================*/
/*landing buscador*/
.search-landing-form{
    background-color: #0095FF;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.search-landing-form .buscador-home{
    width: 505px;
    margin-right: 0;
}
.search-landing-form .buscador-home .input-home{
    border-color: #B4D9F3;
}
.mega-program .mega-hero-slide-wrap {
    margin-bottom: 60px;
}
/*header programa*/
.mega-program .mega-hero-landing-img .hero-slider-caption .center-content{
  margin-bottom: 0;
}
.mega-hero-landing-img img{
  width: 100%;
  height: auto;
  display: block;
}
/*NAV*/
.program-nav-toggle{
    background-color: #FF3C79;
    color: #FFF;
    border-radius: 20px;
    padding: 12px 15px 12px 30px;
    display: inline-block;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 10px;
    display: none;
    position: relative;
}
.program-nav-toggle:before{
    content: ' ';
    position: absolute;
    left: 11px;
    top: 50%;
    border: 5px solid transparent;
    border-top: 8px solid #FFF;
    margin-top: -4px;
}
.program-nav-wrap{
  text-align: center;
  margin-bottom: 35px;
}
.landing-mega .program-nav-wrap{
  padding-top: 20px;
}
.program-nav{
    display: inline-block;
    background-color: #FFC700;
    border-radius: 20px;
    overflow: hidden;
}
.p-nav-link{
    color: #FFF;
    border-radius: 20px;
    padding: 12px 15px;
    display: inline-block;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1em;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.p-nav-link:hover{
    background-color: #F99F18;
}
.p-nav-link.current{
  background-color: #FF3C79;
}

/*Menu especial "Diario de un Castigado"*/
.especial{
      background-color: #0154a0;
}

.especial:hover,
.especial.current{
    background-color: #f37f42;
}
/* / */
/*contenido*/
.content-wrap{
    width: 80%;
    margin: 0 auto 40px;
}
.with-sidebar{
  width: 100%;
  float: left;
  margin-right: -300px;
}
.with-sidebar-margin{
   margin-right: 370px;
}
.sidebar{
  float: left;
  width: 300px;
}
.content-list{
    margin-left: -20px;
    display: block;
}
.content-item{
    float: left;
    width: 50%;
    padding-left: 20px;
    margin-bottom: 20px;
}
.cols-3 .content-item{
  width: 33.333%;
}
.cols-4 .content-item{
  width: 25%;
}
.cols-4 .content-item:nth-last-of-type(-n+2){
  display: none;
}
.mega-program-capitulos .content-item.big-image{
    width: 100%;
}
.mega-program-capitulos .one-col-list .content-item, .one-col-list .content-item{
    width: 100%;
}
.content-article img{
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -ms-transform 0.2s ease;
}
.mega-hero-slider img[data-lazy], .content-article img[data-lazy]{
    max-height: 0;
}
.content-list .content-article:hover img{
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}
.content-article header{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    /*http://colorzilla.com/gradient-editor/#000000+0,000000+60,000000+100&amp;0+0,0+0,0.8+60,0.8+100 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
    padding: 40px 12px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.content-article h3{
    color: #FFF;
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 5px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.content-article p{
    color: #DADADA;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2em;
}
/*hidden*/
.content-article header.hidden{
  background: #00CD70;
  height: 100%;
  text-align: center;
  background: rgba(0, 205, 112, 0.85);
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  top: 100%;
}
.content-article:hover header.hidden{
  top: 0;
}
.content-article header.hidden h3{
    vertical-align: middle;
    width: 94%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 900;
}
.content-article header.hidden:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1%;
}
/*big-slider*/
.beta-h3-top{
    position: absolute;
    top: 11px;
    background-color: rgba(0, 0, 0, 0.61);
    left: 100px;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
}
.big-slide .content-article p{
  color: #FFF;
  font-size: 1.4em;
  display: none;
}
.content-article .beta-h3-top {
    position: absolute;
    bottom: 0;
    background-color: #00CD70;
    left: 0px;
    padding: 10px 18px 14px;
    border-radius: 0;
    margin-bottom: 0;
    top: auto;
    right: 0;
    text-align: center;
    max-width: 100%;
}
.big-slide .content-article header{
  display: none;
}
/*paginador*/
.paginador-wrap{
    text-align: center;
    clear: both;
    padding-top: 20px;
    position: relative;
    border-top: 1px solid #ECECEC;
    margin-top: 10px;
}
.paginador-wrap .p-item{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #FFC700;
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    padding-top: 14px;
    margin: 0 1px 4px;
    border-radius: 100%;
    box-shadow: 0 2px 6px -3px #716F6F;
    font-weight: 300;
}
.paginador-wrap .p-item:hover {
    background-color: #FF3C79;
    box-shadow: none;
}
.paginador-wrap .p-item.current {
    background-color: #FF3C79;
    box-shadow: none;
}
/*sidebar*/
.aside-block{
  margin-bottom: 30px;
}
.aside-block h2{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1em;
    color: #FF3C79;
}
.video-play-icon{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 6px solid #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin-left: -35px;
    top: 50%;
    margin-top: -35px;
    background-color: rgba(12, 12, 12, 0.4);
    z-index: 2;
}
.video-play-overlay{
    position: absolute;
    z-index: 1;
    background-color: rgba(78, 25, 76, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
a:hover .video-play-overlay{
  opacity: 1;
}
.video-play-icon:after{
    content: ' ';
    display: block;
    background: url(../images/sprites-mega.png) no-repeat -24px -20px;
    width: 30px;
    height: 33px;
    position: absolute;
    top: 14px;
    left: 14px;
}
/*adelanto*/
.aside-block.dest-aside-block{
    background-color: #FF3C79;
    border-radius: 20px;
    padding: 10px 20px 20px;
}
.aside-block.dest-aside-block h2{
    color: #FFF;
    margin-bottom: 15px;
}
.aside-block.dest-aside-block .mega-b-radius, .aside-block.dest-aside-block .content-article img{
    border-radius: 9px;
}
/*banner*/
.fw-top-banner-item{
  padding-top: 10px;
  font-size: 0;
  z-index: 6;
  position: relative;
  text-align: center;
}
.fw-top-banner-item .align{
    font-size: 100%;
    display: inline-block;
}
.fw-banner-wrap{
  padding: 30px 0 40px;
}
.fw-banner-item{
 text-align: center;
}
.fw-banner-item.absolute-bnr{
	position: absolute;
}
.fw-banner-item .align{
  display: inline-block;
}
/*VIDEO ARTICULO*/
.media-container .media{
   padding-bottom: 56.5%;
   height: 0;
   position: relative;
}
.media-container .media iframe{
	position: absolute;
   width: 100%;
   height: 100%;
}
.media-video{
  margin-bottom: 50px;
}
.media-video .article-header{
    margin-bottom: 15px;
}
.media-video .article-header .date{
    color: #C5C5C5;
    font-size: 1.1em;
    line-height: 1em;
    margin-bottom: 3px;
    display: block;
    padding-left: 3px;
}
.media-video .article-header .title{
    color: #90208B;
    font-size: 3em;
    line-height: 1.2em;
    padding-left: 2px;
}
.media-video .content-article{
    max-height: 533px;
}
.article-section{
    margin-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 25px;
}
.article-text p, .article-text div{
    font-size: 1.4em;
    line-height: 1.3em;
    margin-bottom: 10px;
    color: #5A5A5A;
    font-weight: 300;
}
.article-text b, .article-text strong{
  font-weight: 700;
}
.article-text a{
  color: #0095FF;
}
.article-text a:hover{
  color: #00D0FF;
}
.article-text .ytvideo{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.article-text .ytvideo iframe{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.article-text iframe{
  max-width: 100%;
}
/*a like button*/
.mega-eventos .article-text a{
    color: #FFF;
    border-radius: 20px;
    padding: 12px 30px 15px;
    display: inline-block;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1em;
    background-color: #0095FF;
    font-weight: 700;
}
.mega-eventos .article-text a:hover{
    background-color: #28BFF9;
}
.medium-header h3{
    font-size: 1.3em;
    color: #989898;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.article-gal .medium-header h3{
  margin-bottom: 10px;
}
.recomended .medium-header h3{
   color: #FF3C79;
}
.medium-header .caption{
    font-size: 1.2em;
    color: #B7B3B3;
    font-weight: 300;
    padding-top: 4px;
    margin-bottom: 15px;
    display: block;
}
.text-header h3{
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #90208B;
}
/*mega-article*/
.media-image{
  margin-bottom: 50px;
}
.media-image img{
  width: 100%;
  display: block;
  height: auto;
}
.media-image .content-article header{
  padding-left: 0;
  padding-right: 0;
}
.media-image.content-article h3{
  font-size: 3.5em;
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);
}
.media-image.content-article h3 .date{
  font-size: 0.3em;
  display: block;
  line-height: 1;
  text-shadow: none;
  color: #DEDEDE;
  font-weight: 300;
}
.mega-article .media-video{
  background-color: #90208B;
  padding: 20px 80px;
}
.mega-article .media-video .article-header .date{
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
}
.mega-article .media-video .article-header .title{
  color: #FFF;
}
.mega-article .media-video .with-shadow{
   box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.5);
}
/*sharer*/
.sharer-section{
    padding-bottom: 15px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.sharer-section .medium-header{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.sharer-section .medium-header h3{
  margin-bottom: 0;
}
.sharer-section .social-wrap .social-link{

}
.sharer-section .social-wrap .social-link.fb{
    background-color: #5476BD;
    border-color: #5476BD;
}
.sharer-section .social-wrap .social-link.tw{
    background-color: #61B7F7;
    border-color: #61B7F7;
}
.sharer-section .social-wrap .social-link.ig{
    background-color: #1876BB;
    border-color: #1876BB;
}
.sharer-section .social-wrap .social-link.yt{
    background-color: #e03b3b;
    border-color: #e03b3b;
}
.sharer-section .social-wrap .social-link.wap{
    background-color: #5CBD4A;
    border-color: #5CBD4A;
}
/*small-&-medium-gallery*/
.small-gallery{
  padding: 10px 40px;
  position: relative;
  margin-bottom: 15px;
}
.medium-gallery{
  position: relative;
}
.with-sidebar-margin .medium-gallery{
  padding-right: 40px;
}
.small-gallery .slider-overflow, .medium-gallery .slider-overflow{
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.slider-overflow .medium-slider{
  margin-left: -5px;
  margin-right: -5px;
}
.small-slider{
  margin-left: -3px;
  margin-right: -3px;
}
.small-gallery .gal-link{
  padding: 0 3px;
}
.small-gallery .gal-link img{
  width: 100%;
  height: auto;
  display: block;
}
.small-gallery-buttons .slick-prev, .small-gallery-buttons .slick-next{
    width: 36px;
    height: 36px;
    background-color: #FF3C79;
    border-radius: 100%;
    border: none;
    text-indent: -100px;
    overflow: hidden;
    box-shadow: 0 2px 6px -3px #716F6F;
    top: 50%;
    margin-top: -18px;
}
.small-gallery-buttons .slick-prev:after, .small-gallery-buttons .slick-next:after{
    content: ' ';
    display: block;
    width: 10px;
    height: 17px;
    position: absolute;
    background: url(../images/sprites-mega.png) no-repeat -2px -22px;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -8px;
    margin-left: -7px;
}
.small-gallery-buttons .slick-next:after{
  background-position: -12px -22px;
  margin-left: -4px;
}
.small-gallery.small-gallery-buttons .slick-prev{
  left: 0;
}
.small-gallery.small-gallery-buttons .slick-next{
  right: 0;
}
.medium-gallery.small-gallery-buttons .slick-prev{
  left: -40px;
}
.medium-gallery.small-gallery-buttons .slick-next{
  right: -40px;
}
.with-sidebar-margin .medium-gallery.small-gallery-buttons .slick-next{
  right: 0;
}
/*=====================
       botones
======================*/
.button-centered{
  display: block;
  text-align: center;
}
.button-normal{
    color: #FFF;
    border-radius: 20px;
    padding: 12px 15px;
    display: inline-block;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1;
    background-color: #FF3C79;
}
/*=========================
        colores
==========================*/
.blue{
  background-color: #0095FF!important;
}
.purple{
  background-color: #90208B!important;
}
.yellow{
  background-color: #FFC700!important;
}
.pink{
  background-color: #FF3C79!important;
}
.green{
  background-color: #00CD70!important;
}
/*=========================
        tabsmega
==========================*/
.mega-tab-content{
  position: relative;
}
.mega-tab-content[data-tabtarget="tab-parrilla"]{
    overflow: hidden;
    padding-bottom: 15px;
}
.mega-tab-item{
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease, -ms-transform 0.5s ease;
  visibility: hidden;
  position: absolute;
  z-index: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  top: 0;
}
.mega-tab-item.active{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  position: relative;
  z-index: 1;
  visibility: visible;
}
/*=======================================================
                EN VIVO SEÑAL ONLINE
========================================================*/
.senal-online .mega-main-head-wrap{
  margin-bottom: 0;
}
.senal-online .big-video-wrap .content-wrap{
    width: 62%;
    margin: 0 0 80px 45px;
}
.senal-online .mega-main-head-wrap .mega-main-head{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.big-video-wrap{
    background-color: #90208B;
    margin-bottom: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 50px;
}
.big-video-header{
  position: relative;
  margin-bottom: 10px;
}
.big-video-header h1{
    font-size: 5em;
    font-weight: 900;
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
}
.big-video-wrap .sharer-section{
    position: relative;
    margin-bottom: 0;
    padding: 0;
    border: none;
    margin-top: 10px;
    z-index: 1;
}
.big-video-wrap .sharer-section .medium-header h3{
    color: #F3D1F1;
    font-weight: 300;
}
.video-wrap{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 40px 100px -30px rgba(0, 0, 0, 0.8);
}
.video-wrap .video-aspecratio{
  padding-bottom: 56.25%;
  position: relative;
}
.video-wrap .video-aspecratio iframe, .video-wrap .video-aspecratio video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.big-video-wrap .video-info{
  font-size: 1.4em;
  color: #DA91D7;
  position: relative;
  z-index: 1;
  font-weight: 300;
}
.big-video-wrap .video-info span{
  font-size: 1.2em;
  font-weight: 400;
  color: #FFF;
}
/*relacionados en vivo*/
.big-video-wrap .with-sidebar{
  margin-right: -290px;
}
.big-video-wrap .with-sidebar-margin{
  margin-right: 320px;
}
.big-video-wrap .sidebar{
  padding-top: 45px;
  width: 290px;
}
.big-video-wrap .aside-block h2{
    color: #FFF;
    text-align: left;
    text-transform: uppercase;
    font-size: 2em;
}
.big-video-wrap .content-article img{
    width: 40%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.big-video-wrap .content-article header{
    width: auto;
    margin-left: 40%;
    border-radius: 0;
    background: #A2279D;
    top: 0;
    padding: 10px 5px 10px 10px;
}
.big-video-wrap .content-article header h3{
  text-shadow: none;
  will-change: transform;
  width: 97%;
  font-size: 1.5em;
}
.live-related-list li:nth-child(4){
	display: none;
}
/*listado de programación*/
.bubble-list .bubble-item{
  position: relative;
  padding: 10px 0 0 45px;
}
.bubble-content{
  border-top: 1px solid #ECECEC;
  padding-top: 10px;
}
.bubble-list .program-hour{
  position: absolute;
  left: 0;
  color: #A2A2A2;
  font-size: 1.2em;
  font-weight: 300;
  top: 4px;
}
.bubble-list .bubble-block{
    min-height: 45px;
    height: 45px;
}
.bubble-list .bubble-block h3{
    vertical-align: middle;
    display: inline-block;
    color: #FFF;
    text-align: center;
    width: 98%;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}
/*===================================
        LANDING TELESERIES
====================================*/
.instagram-fotos{
    height: 500px;
    overflow-y: scroll;
    background-color: #F6F7F8;
    padding: 8px 0 15px 5px;
}
.instagram-fotos a{
    display: block;
    float: left;
    width: 32%;
    margin: 0 0.5% 3px;
}
.instagram-fotos a img{
    width: 100%;
    height: auto;
    display: block;
}
/*===================================
            FOOTER
====================================*/
.hero-mega-footer{
  background-color: #90208B;
  width: 100%;
}
.footer-col-wap{
  padding: 50px 0;
  height: 100%;
  display: table;
}
.footer-col{
  width: 22%;
  border-left: 1px solid #AD45A8;
  padding: 0 10px 0 25px;
  display: table-cell;
}
.footer-col.first-col{
    width: 34%;
    border-left: none;
    padding-left: 0;
}
.footer-col.first-col .program-list{
 -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.footer-col h2{
    font-size: 1.8em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 15px;
}
.program-list a{
    color: #EAB4E8;
    font-weight: 300;
    font-size: 1.2em;
    display: block;
    padding: 5px 0;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
}
.program-list a:hover{
  color: #FFF;
}
.footer-col .social-wrap .social-item:first-child{
  margin-left: 0;
}
.footer-col .button-normal.work-with-us{
    margin: 50px 0 10px -5px;
    background-color: #0095FF;
}
/*final*/
.footer-end{
  background-color: #631a61;
  width: 100%;
  height: 60px;
  position: relative;
}
.footer-end img{
  position: absolute;
  top: 8px;
}
.footer-end p{
  width: 100%;
  text-align: center;
  color: #DEBDDC;
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 24px;
}
.ytb{
  display: none;
}
/*pagina 404*/
.search404{
  position: relative;
  padding: 0;
  display: block;
  width: 76%;
  margin: 50px auto 40px;
}
.search404 h1{
  font-size: 3em;
    text-transform: uppercase;
    font-weight: 800;
    color: #90208B;
    padding: 10px 0;
}
.search404 h2{
    font-size: 1.7em;
    font-weight: 400;
    color: #5A5A5A;
    padding: 0px 0 10px;
}
.search404 p{
  color: #FF3C79;
    font-size: 1.4em;
    font-weight: 400;
    line-height: normal;
}
/**/
/*GEneracion 2016 MG*/
.generacion2016{
  width: 100%;
}
.generacion2016 .content-item {
    float: left;
    width: 25%;
    padding-left: 20px;
    margin-bottom: 20px;
}
.generacion2016 h1{
  font-size: 3em;
  color:#90208B;
  margin-bottom: 50px;
}
.generacion2016 .content-article p {
    color: #DADADA;
    font-size: .8em;
    font-weight: 300;
    text-align: center;
    line-height: 1.4em;
}
.form_G2016{
  width: 100%;
  min-height: 600px;
}
.generacion2016 .encuesta_G2016{
    width: 100%;
    min-height: 500px;
    margin: 0;
    border: 1px solid #A0A0A0;
}
.generacion2016 .with-sidebar-margin {
    margin-right: 460px;
}
.generacion2016 .with-sidebar {
    width: 100%;
    float: left;
    margin-right: -420px;
    clear: both;
}
.generacion2016 .sidebar {
    float: right;
    width: 420px;
}
.generacion2016 .article-section{
  clear: both;
  margin-top: 50px;
  float: left;
  width: 100%;
}
.generacion2016 .spotify{
  width: 420px;
  height: 520px;
}
/**/
/*Capitulos completos*/
.capitulos-completos h1{
  font-size: 3.5em;
  color: #90208B;
  margin: 50px 0 0px;
  text-align: center;
}
@media only screen and (min-width: 1900px){
  body{
    background-size: 2400px;
  }
  .mega-main-width{
    width: 1400px;
  }
  /*programas 4 columnas*/
  .cols-4 .content-item{
    width: 20%;
  }
  .cols-4 .content-item:nth-last-of-type(-n+2){
    display: block;
  }
  /*video launcher*/
  .media-video .content-article{
    max-height: 622px;
  	}
  /*header*/
  .mega-main-head .nav-link{
    font-size: 1.3em;
  }
  .mega-main-head .nav-link.two-lines, .mega-main-head-wrap.fixed .mega-main-head .nav-link.two-lines{
    padding-top: 10px;
  }
  .mega-main-head .nav-link br{
    display: none;
  }
  /*hero*/
  .hero-slider-caption h3 {
    font-size: 4.5em;
  }
  .animated-capsule{
    font-size: 1.6em;
  	}
  	.mega-main-head .nav-wrap .nav-item {
    margin-left: 24px;
	}
	.mega-main-head .nav-wrap {
   	float: left;
	}
	.live-related-list li:nth-child(4){
		display: block;
	}
}
@media only screen and (max-width: 1899px){
  .mega-main-width{
    width: 1100px;
  }
  /*header*/
  .mega-main-head{
    padding-right: 15px;
  }
  .mega-main-head .nav-wrap .nav-item{
    margin-left: 16px;
  }
  .mega-main-head .nav-link{
    padding-left: 5px;
    padding-right: 5px;
  }
  .mega-main-head .live-item span{
    display: none;
  }
  /*destacado*/
  .mega-program .mega-hero-landing-img .hero-slider-caption h3{
    font-size: 5em
  }
  .mega-program .hero-slider-caption h3{
      font-size: 3.5em;
  }
  .hero-slider-caption h3{
     font-size: 3.6em;
  }
  .hero-slider-caption .center-content{
    padding-left: 20px;
    width: 45%;
  }
  .sub-title{
    font-size: 1.6em;
  }
  /*video launcher*/
  .media-video .content-article{
    max-height: 489px;
  }
}
@media only screen and (min-width: 1250px){
	.mega-main-head-wrap.fixed .mega-main-head .circle-button.social-icon{
		display: none;
	}
	.mega-main-head-wrap.fixed .mega-main-head .toc-socials.social-wrap{
    opacity: 1;
    width: auto;
    position: relative;
    bottom: auto;
    right: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0 10px 0;
    border-right: 1px solid #9A3196;
    border-radius: 0;
	}
	.mega-main-head-wrap.fixed .toc-socials.social-wrap:after{
		display: none;
	}
}
@media only screen and (min-width: 1151px){
  .mega-main-head:hover {
    overflow: visible;
  }
  .mega-main-head-wrap.fixed .mega-main-head:hover {
    box-shadow: 0 2px 15px rgba(0,0,0,.35);
  }
  .mega-main-head .nav-wrap {
    height: 100%!important;
  }
  .mega-main-head-wrap.fixed .mega-main-head .nav-link{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .mega-main-head-wrap.fixed .mega-main-head .nav-wrap .nav-item{
    margin-top: 1px;
  }
  .mega-main-head-wrap.fixed .mega-main-head .live-item.la-roja-item .nav-link:after{
    left: 6px;
    top: 6px;
  }
  .mega-main-head-wrap.fixed .mega-main-head .live-item.la-roja-item .nav-link:before{
    width: 22px;
    height: 22px;
    left: 3px;
    top: 3px;
  }
}
@media only screen and (max-width: 1150px){
  .mega-main-wrap{
    padding-top: 0;
  }
  .mega-main-width{
    width: 100%;
    padding: 0 40px;
  }
  .footer-end .mega-main-width{
    padding: 0 45px;
  }
  .hero-mega-footer > .mega-main-width{
    padding: 30px 40px;
  }
  /*HERO SLIDER*/
  .hero-slider-caption h3{
    font-size: 3.3em;
  }
  .animated-capsule{
    font-size: 1.3em;
  }
  /*video launcher*/
  .media-video .content-article{
    max-height: auto;
  }
  /*=======================================
                TOUCH MENU
  ========================================*/
  /*HEADER*/
  .menu-toggle{
    display: block;
  }
  .mega-main-head{
    overflow: visible;
  }
  .mega-main-head, .mega-main-head-wrap{
    height: 65px;
    opacity: 1!important;
  }  
  .mega-main-head .mobile-lb-menu{
    position: absolute;
    z-index: 10;
    background-color: #90208B;
    border-radius: 15px;
    left: 0;
    padding: 6px 0 20px;
    width: 200px;
    top: 75px;
    overflow: auto;
  }
  .mega-main-wrap{
    
  }
  .go-home{
    display: none;
  }
  .show-on-mobile-nav{
    display: inline-block;
  }
  .mega-main-head .live-item.la-roja-item .nav-link{
    padding-left: 9px;
  }
  .circle-button.toggle-search{
    display: none;
  }
  a.circle-button.mobile-search-button{
    display: inline-block;
  }
  /*boton abrir menu*/
  .menu-toggle{
    float: left;
  }
  .mega-main-head .mega-logo{
    width: 40px!important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 5px;
  }
  .mega-toggle-nav{
    position: relative;
    z-index: 1;
    width: 97px;
    height: 34px;
    cursor: pointer;
    background-color: #FF3C79;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.3);
  }
  .mega-toggle-nav .bar-top, .mega-toggle-nav .bar-mid, .mega-toggle-nav .bar-bot {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    left: 9px;
    top: 7px;
    border-radius: 5px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: -webkit-transform 0.2s ease, top 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease, top 0.2s ease;
    transition: transform 0.2s ease, top 0.2s ease, -webkit-transform 0.2s ease;
  }
  .mega-toggle-nav .bar-mid {
    top: 15px;
  }
  .mega-toggle-nav .bar-bot {
    top: 23px;
  }
  .mega-toggle-nav .menu-text.vert-center{
    position: absolute;
    left: 47px;
    top: 6px;
    z-index: 1;
    color: #FFF;
    border-left: 1px solid #FF5B8E;
    padding-left: 5px;
    height: 21px;
  }
  .mega-toggle-nav .menu-text:after{
    content: 'MENU';
   display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
  }
  body.active-menu .mega-toggle-nav .menu-text{
    left: 41px;
    padding-left: 3px;
    height: 21px;
  }
  body.active-menu .mega-toggle-nav .bar-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
  }
  body.active-menu .mega-toggle-nav .bar-mid {
    display: none;
  }
  body.active-menu .mega-toggle-nav .bar-bot {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
  }
  body.active-menu .mega-toggle-nav .menu-text:after{
    content: 'CERRAR';
  }
  /*social mobile*/
  .mobile-lb-menu .social-wrap{
    display: block;
  }
  .mobile-lb-menu .social-wrap .social-link{
    border-color: #FFF;
  }
  .toc-socials.social-wrap{
    opacity: 1;
    width: auto;
    position: relative;
    bottom: auto;
    right: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0 10px 0;
    border-right: 1px solid #9A3196;
    border-radius: 0;
  }
  .mega-main-head-wrap.fixed .mega-main-head .toc-socials.social-wrap{
    bottom: auto;
  }
  .social-toggler:hover .toc-socials.social-wrap{
    width: auto;
  }
  .toc-socials.social-wrap:after, .circle-button.social-icon{
    display: none;
  }
  /*botones*/
  .mega-main-head .nav-wrap{
    float: none;
  }
  .nav-wrap.vert-center .center-content{
    display: block;
  }
  .mega-main-head .nav-wrap .nav-item{
    display: block;
    margin: 0;
  }
  .nav-wrap.vert-center:before{
    display: none;
  }
  .mega-main-head .nav-link{
    border-radius: 20px;
    padding: 11px 18px 12px!important;
    text-align: center;
    margin-bottom: 0;
    line-height: 1;
    border-bottom: 1px solid #9A3196;
    border-radius: 0;
  }
  .mega-main-head .live-item .nav-link{
    border-bottom: 0;
    margin: 10px;
  }

  .mobile-lb-menu{
  }
  /*when active*/  
  /*.active-menu .mega-main-head-wrap.fixed .mega-main-head .nav-wrap{
    position: fixed;
    bottom: 10px;
    height: auto;
    top: 64px;
  }
  .active-menu .mega-main-head .mobile-lb-menu{
    display: block;
    height: 100%;
  }
  .active-menu .header-overlay{
    display: block;
  }
  body.menu-is-ready .header-overlay{
    opacity: 1;
  }
  body.menu-is-ready .mobile-lb-menu{
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }*/
  /*nuevo menu a la izquierda*/
  html, body{
    overflow-x: hidden!important;
  }
  .mega-main-head .nav-wrap{
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }
  .mega-main-wrap {
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    /*transition: right 0.2s ease;
    right: 0;
    position: relative;*/
  }
  /*mueve el contenido a la derecha*/
  body.menu-is-ready .mega-main-wrap{
    -webkit-transform: translateX(210px);
    -ms-transform: translateX(210px);
    -o-transform: translateX(210px);
    transform: translateX(210px);
    /*right: -200px;*/
  }
  body.menu-is-ready .mega-main-head .nav-wrap{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  body.active-menu .mega-main-head-wrap.fixed .mega-main-head .nav-wrap  {
    top: 65px;
  }
  body.menu-is-ready .mega-main-head-wrap.fixed .mega-main-head .nav-wrap{
    /*height: auto!important;
    bottom: 10px;
    position: fixed;*/
  }
  .header-overlay{
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    position: fixed;
    background-color: #FFF;
    height: 100%;
    width: 240px;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    -webkit-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
  }
   body.menu-is-ready .header-overlay{
    z-index: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  } 
  body.menu-is-ready .fixed .header-overlay{
    width: 220px;
  }
  .mobile-lb-menu:before{
    /*content: ' ';
    display: block!important;
    position: absolute;
    width: 10px;
    background-color: #FFF;
    top: -10px;
    bottom: -10px;
    height: auto;
    right: -10px;*/
  }
  body.active-menu .mega-main-head-wrap.fixed .mega-main-head{
    height: 55px;
  }
  /*=======================================*/
  .program-nav-toggle{
    display: inline-block;
  }
  .toggle-on-mobile .program-nav{
    display: none;
  }
  .toggle-on-mobile .p-nav-link{
    display: block;
  }
}
@media only screen and (max-width: 1024px){
  .vert-center {
    height: 100%;
  }
  /*HERO*/
  .hero-slider-caption h3, .mega-program .hero-slider-caption h3{
    font-size: 3em;
  }
  /*hero*/
  .hero-text{
    display: none;
  }
  /*home*/
  .with-sidebar-margin .medium-gallery{
  	padding-right: 0;
  }
  .with-sidebar-margin .medium-gallery.small-gallery-buttons .slick-next{
  	right: -40px;
  }
  /*SIDEBAR*/
  .with-sidebar, .big-video-wrap .with-sidebar{
    float: none;
    margin-right: 0;
  }
  .with-sidebar-margin, .medium-slide-1.with-sidebar-margin, .big-video-wrap .with-sidebar-margin{
    margin-right: 0;
    left: 0;
    padding-left: 0;
  }
  .sidebar, .big-video-wrap .sidebar{
    float: none;
    width: 100%;
  }
  /*medium slider*/
  .medium-slider .medium-slider-item {
    padding: 0 5px;
  }
  .content-article .content-link:hover header.medium-hidden, .content-article header.medium-hidden{
    height: auto!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    transition: none;
    transform: none;
    bottom: 0;
  }
  header.medium-hidden h3{
    padding: 30px 8px 7px 3px;
    font-size: 1.3em;
  }
  .content-article:hover header.medium-hidden h3 .the-button {
    display: none;
  }
  .big-slide .content-article h3 {
    font-size: 1.6em;
    font-weight: 300;
    padding: 8px 15px;
	}
  /*landing*/
  .paginador-wrap{
    margin-bottom: 50px;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 20px;
  }
  /***articulo***/
  .content-list .content-article:hover img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .media-image.content-article h3{
    font-size: 3em;
  }
  .media-image {
    margin-bottom: 20px;
  }
  .mega-program-capitulos .content-item:first-child, 
  .mega-program-capitulos .one-col-list .content-item, 
  .one-col-list .content-item {
    width: 50%;
  }
  /***en vivo***/
  .senal-online .mega-main-head{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .senal-online .big-video-wrap .content-wrap{
    padding: 20px;
  }
  .senal-online .en-vivo-content{
    margin-top: -10px;
  }
  .big-video-header h1{
    font-size: 4em;
  }
  .big-video-wrap{
    padding: 20px 50px 20px;
  }
  .mega-tab-content{
    margin-bottom: 20px;
  }
  	.live-related-list li:nth-child(4) {
    display: block;
	}
  /*footer*/
  .footer-col{
    width: 100%;
    display: block;
    border-top: 1px solid #AD45A8;
    border-left: 0;
    padding: 20px 10px;
  }
  .footer-col.first-col{
    width: 100%;
    padding-left: 10px;
    border-top: 0;
  }
  .footer-col.first-col .program-list{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .program-list li{
    display: inline-block;
    margin-right: 12px;
  }
  .footer-end{
    height: auto;
    padding: 10px 0;
  }
  .footer-end img{
    position: relative;
    top: 0;
    margin-bottom: 7px;
  }
  .footer-end p{
    text-align: left;
    padding-top: 0;
    line-height: 1.4em;
  }
  .footer-col .button-normal.work-with-us{
    margin: 0 0 0 10px;
  }
  /*BANNERS MOBILE*/
  .fw-banner-wrap{
    padding: 10px 0 20px;
    width: 100%;
    overflow: hidden
  }
  /*header*/
  .mega-main-head .nav-link:hover{
  	color: #FFF;
  }
  .la-roja-col .content-article img, .col-25-a .content-article img, .em-col .content-article img{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media only screen and (max-width: 800px){
  /*hero*/
  .mega-program .hero-slider-caption h3{
    font-size: 2em;
  }
  .mega-program .mega-hero-landing-img .hero-slider-caption h3{
  	font-size: 3em;
  }
  .mega-program .animated-capsule{
      font-size: 1.4em;
  }
  .mega-program .hero-slider-caption .ballon{
      display: none
  }
  .mega-program .mega-hero-landing-img .ballon{
  		display: inline-block;
  }
  .mega-program .hero-slider-caption .center-content{
    margin-bottom: 0;
  }
  .program-nav-wrap {
    margin-bottom: 10px;
  }
  .hero-slider-caption .center-content{
    padding-left: 10px;
  }
  .animated-capsule{
    font-size: 1.2em;
    padding: 5px 9px 5px;
  }
  .sub-title{
    font-size: 1.5em;
    margin-bottom: 3px;
    padding-bottom: 5px;
  }
  /*programas home sec*/
  .cols-4 .content-item {
    width: 33.333%;
  }
  .cols-4 .content-item:nth-last-of-type(-n+1) {
    display: block;
  }
  /*big slide*/
  .big-slide .slick-dots{
    bottom: -30px;
  }
  .big-slide{
    margin-bottom: 50px;
  }
  .two-col-home .content-article header {
    padding-bottom: 5px;
  }
  .big-slide .slick-dots button{
    background-color: #FFC700;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  }
  .big-slide .slick-dots .slick-active button{
    background-color: #FF3C79;
  }
  /*.content-article p{
    display: none;
  }*/
  .content-article h3{
    font-size: 1.7em;
    margin-bottom: 3px;
  }
  /*landing buscador*/
  .search-landing-form{
    padding: 10px 0;
  }
  .search-landing-form .buscador-home{
    width: 305px;
    margin-right: 0;
  }
  /****articulos****/
  .mega-article .media-video{
    padding: 20px 0;
  }
  .media-video {
    margin-bottom: 20px;
  }
  /***listado articulos mega***/
  .cols-3 .content-item {
    width: 50%;
  }
  /*titulo secciones*/
  .fantastic-title-wrap{
    text-align: center;
  }
  .fantastic-title-wrap .big-center-title{
    font-size: 1.8em;
    margin-bottom: 14px;
  }
  .fantastic-title-wrap .title-tail{
    display: none;
  }
  /*si visible*/
  .two-col-home .fantastic-title-wrap{
  	text-align: left;
  }
  .two-col-home .fantastic-title-wrap .big-center-title{
  		margin-bottom: 7px;
  }
  .two-col-home .fantastic-title-wrap .title-tail{
  		display: block;
  		top: 20px;
  }
  .footer-col .button-normal.work-with-us{
    display: block;
    width: 200px;
    text-align: center;
    margin: 30px 0 10px -5px;
  }
  /*live*/
  .video-wrap{
    box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 700px){
  .mega-main-width, .hero-mega-footer > .mega-main-width {
    padding: 0 10px;
  }
  .big-center-title{
    font-size: 2em;
    margin-bottom: 15px;
  }
  /*en vivo*/
  .big-video-header{
    margin-bottom: 12px;
  }
  .big-video-header h1{
    font-size: 3em;
  }
  .big-video-wrap .sharer-section{
    position: relative;
    margin-top: 20px;
  }
  /*header*/
  .header-overlay{
    width: 220px;
  }
  /*hero slider*/
  .mega-hero-slide-wrap{
    margin-bottom: 25px;
  }
  /*program header*/
  .mega-hero-landing-img .hero-slider-caption{
    text-align: left;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.41) 60%,rgba(0, 0, 0, 0.71) 100%);
  }
  .mega-program .mega-hero-landing-img .hero-slider-caption h3{
  	font-size: 2em;
    display: none;
  }
  .mega-program .mega-hero-landing-img .hero-slider-caption .animated-capsule{
  	background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
  }
  .mega-program .mega-hero-landing-img .ballon{
  	 padding: 0;
    display: inline-block;
    float: none;
    font-size: 1.4em;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: none;
    margin-left: 0;
  }
  .mega-program .mega-hero-landing-img .ballon #top-tail{
  	display: none;
  }
  .mega-program .mega-hero-landing-img .ballon span{
  	color: #FFF;
  }
  /**/
  .mega-program .mega-hero-slide-wrap.mega-hero-landing-img {
    margin-bottom: 30px;
	}
  header.medium-hidden h3{
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.05em;
  }
  .hero-slider-caption{
    bottom: 0;
    height: auto !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
    top: auto;
    text-align: center;
    padding: 20px 15px 8px;
  }
  .hero-slider-caption:after{
    display: none;
  }
  .hero-slider-caption .center-content{
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .sub-title{
    display: none;
  }
  .hero-slider-caption h3{
    font-size: 2.2em;
    margin-bottom: 8px;
    font-weight: 700;
  }
  .hero-slider-caption .animated-capsule{
    display: none
  }
  .mega-hero-slide-wrap .slick-dots{
    bottom: -8px; 
  }
  .mega-hero-slide-wrap .slick-dots button{
    background-color:  #FFC700;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  }
  .mega-hero-slide-wrap .slick-dots .slick-active button {
    background-color: #FF3C79;
  }
  /*medium-slide*/
  .medium-slide-1.with-sidebar-margin, .medium-slide-2{
    margin-right: -10px;
    margin-left: -10px;
  }
  .small-gallery{
    padding: 0;
  }
  .with-sidebar-margin .medium-gallery{
    padding-right: 0;
  }
  .small-gallery .slider-overflow, .medium-gallery .slider-overflow{
    border-radius: 0;
  }
  /*header*/
  .mega-main-head-wrap.fixed .mega-main-head{
    padding: 0 10px 0 0;
  }
  .mega-main-head-wrap.fixed .mega-main-head{
    box-shadow: none!important;
    height: 55px;
  }
  /****articulos****/
  .mega-article .media-video{
    padding: 10px;
    margin-bottom: 10px;
  }
  .content-wrap{
    width: 90%;
    margin-bottom: 10px;
  }
  .media-video .article-header .title, .media-image.content-article h3{
    font-size: 2.2em;
    margin-bottom: 0;
    line-height: 1.1;
  }
  .media-image.content-article h3 .date{
    font-size: 0.4em;  
  }
  .text-header h3{
    font-size: 1.7em;
    line-height: 1.1em;
  }
  .article-text p, .article-text div{
    font-size: 1.5em;
    line-height: 1.4em;
    font-family: 'Arial', sans-serif;
  }
  /****************
      PROGRAMAS
  *****************/
  .mobile-program-scroll{
    overflow: scroll;
    overflow-y: hidden;
    margin: 0 -10px 10px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
  }
  .mobile-program-scroll .content-list{
    margin-left: 0;
    display: -webkit-inline-flex;
    display: inline-flex;
  }
  .mobile-program-scroll .content-list.cols-4 .content-item{
    width: 180px;
    padding-left: 10px;
    margin-bottom: 0;
    display: -webkit-inline-flex;
    display: inline-flex;
  }
  .cols-4 .content-item:nth-last-of-type(-n+2) {
    display: block;
  }
  /*dos-columnas-home*/
  .two-col-sec{
    margin:0;
  }
  .two-col-home{
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .big-slide {
    margin-bottom: 60px;
  }
  /*4 cols*/
  .cols-4 .content-item{
    width: 50%;
  }
  /*footer*/
  .footer-end .mega-main-width {
    padding: 0 18px;
  }
}
@media only screen and (max-width: 540px){
  .social-toggler{
    display: none;
  }
  /*en vivo*/
  .bubble-list .bubble-block h3{
  	font-size: 1.6em;
  }
}
@media only screen and (max-width: 480px){
  .content-item{
    width: 100%;
  }
  .mega-program-capitulos .content-item:first-child, 
  .mega-program-capitulos .one-col-list .content-item, 
  .one-col-list .content-item{
    width: 100%;
  }
  .sites-logo{
    top: 6px;
    left: 6px;
    width: 50px;
    border-radius: 12px;
  }
  .col-25-a .sites-logo {
    width: 108px;
 	}
  .generacion2016 .content-item {
    float: left;
    width: 50%;
  }
  .generacion2016 .content-article header.hidden h3 {
    font-size: 1.5em;
  }
  /*en-vivo*/
  .big-video-wrap{
      padding: 10px 20px 20px;
  }
  .big-video-wrap .sidebar {
    padding-top: 20px;
    z-index: 1;
    position: relative;
  }
  .big-video-wrap .aside-block{
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 450px){
  .cols-3 .content-item {
    width: 100%;
  }
  .landing-promgramas .content-list{
    margin-left: -25px;
    margin-right: -15px;
  }
  .landing-promgramas .cols-3 .content-item{
    width: 50%;
    padding-left: 10px;
  }
  .medium-slider .medium-slider-item {
    width: 50%;
    margin-bottom: 5px;
  }
  /*landing buscador*/
  .search-landing-form .buscador-home{
    width: 85%;
    margin-right: 0;
  }
  .two-col-home .big-slide a{
  	padding-bottom: 60%;
  }
  /*hero*/
  .hero-slider-caption h3{
    font-size: 2em;
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 340px){
  .fw-banner-item{
    margin-left: -27px;
    margin-right: -27px;
    width: auto;
  }
}