/*===================================
            FOOTER
====================================*/
.hero-mega-footer{
  background-color: #90208B;
  width: 100%;
  font-family: 'Antartida','Roboto Condensed', sans-serif;
}
.hero-mega-footer a, .hero-mega-footer h2{
	font-family: 'Antartida','Roboto Condensed', sans-serif;
}
.button-normal{
    color: #FFF;
    border-radius: 20px;
    padding: 12px 15px;
    display: inline-block;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1;
    background-color: #FF3C79;
}
.footer-col-wap{
  padding: 50px 0;
  height: 100%;
  display: table;
}
.footer-col{
  width: 22%;
  border-left: 1px solid #AD45A8;
  padding: 0 10px 0 25px;
  display: table-cell;
}
.footer-col.first-col{
    width: 34%;
    border-left: none;
    padding-left: 0;
}
.footer-col.first-col .program-list{
 -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.footer-col h2{
    font-size: 1.8em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 15px;
}
.program-list a{
    color: #EAB4E8;
    font-weight: 300;
    font-size: 1.2em;
    display: block;
    padding: 5px 0;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
}
.program-list a:hover{
  color: #FFF;
}
.footer-col .social-wrap .social-item:first-child{
  margin-left: 0;
}
.footer-col .button-normal.work-with-us{
    margin: 50px 0 10px -5px;
    background-color: #0095FF;
}
/*final*/
.footer-end{
  background-color: #631a61;
  width: 100%;
  height: 60px;
  position: relative;
}
.footer-end img{
  position: absolute;
  top: 8px;
}
.footer-end p{
    width: 100%;
    text-align: center;
    color: #DEBDDC;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 24px;
}
@media only screen and (max-width: 1150px){
	.hero-mega-footer > .mega-main-width {
	    padding: 30px 40px;
	}
}
@media only screen and (max-width: 1024px){
  /*footer*/
  .footer-col{
    width: 100%;
    display: block;
    border-top: 1px solid #AD45A8;
    border-left: 0;
    padding: 20px 10px;
  }
  .footer-col.first-col{
    width: 100%;
    padding-left: 10px;
    border-top: 0;
  }
  .footer-col.first-col .program-list{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .program-list li{
    display: inline-block;
    margin-right: 12px;
  }
  .footer-end{
    height: auto;
    padding: 10px 0;
  }
  .footer-end img{
    position: relative;
    top: 0;
    margin-bottom: 7px;
  }
  .footer-end p{
    text-align: left;
    padding-top: 0;
    line-height: 1.4em;
  }
  .footer-col .button-normal.work-with-us{
      margin: 35px 0 10px -6px;
	    display: block;
	    max-width: 200px;
	    text-align: center;
 	}
}
@media only screen and (max-width: 700px){
	.hero-mega-footer > .mega-main-width {
    padding: 0 10px;
	}
  /*footer*/
  .footer-end .mega-main-width {
    padding: 0 18px;
  }
 }