body, html{
  overflow-x: hidden;
}
@font-face {
  font-family: 'Antartida';
  font-style: lighter;
  font-weight: 300;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Light.otf');
}
@font-face {
  font-family: 'Antartida';
  font-style: normal;
  font-weight: 400;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Medium.otf');
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
.mega-main-width {
    width: 1240px;
    margin: 0 auto;
}
.with-mega-toc-wrap{
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.menu-is-ready .with-mega-toc-wrap, .menu-is-ready .masterWrap{
  -webkit-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);
}
.mega-main-head-block{
  background-color: #7B0A76;
  position: relative;
  z-index: 2;
}
.fw-top-banner-item{
  text-align: center;
}
/*===================================
              HEADER
====================================*/
.menu-toggle{
  display: none;
}
.mega-main-head-wrap{
  height: 130px;
  padding: 10px 0;
}
.mega-main-head{
  background-color: #90208B;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
  height: 110px;
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.go-home{
    display: block;
    float: left;
    height: 104px;
    overflow: hidden;
    position: relative;
    margin-top: -4px;
    padding-left: 12px;
}
.mega-main-head .mega-logo{
    height: auto;
    width: 91px;
    margin-top: 0px;
}
/**/
.vert-center{
  height: 100%;
  position: relative;
}
.vert-center:before{
  content: ' ';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.vert-center .center-content{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 2;
}
/*nav buttons*/
ul.capsulas{
  text-align: left;
}
.mega-main-head .nav-wrap{
  float: left;
}
.mega-main-head .nav-wrap .nav-item{
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.mega-main-head .nav-link{
  display: block;
  padding: 10px 5px 9px;
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-align: center;
  font-family: 'Antartida', 'Roboto Condensed', sans-serif;
}
.mega-main-head .nav-link.two-lines{
  /*padding-top: 22px;*/
}
.mega-main-head .nav-link i{
  font-family: 'Arial', sans-serif;
}
.mega-main-head .nav-link:hover{
  color: #EFC73C;
}
.mega-main-head .nav-link.current{
  color: #EFC73C;
}
.mega-main-head .live-item .nav-link{
  background-color: #0095FF;
  border-radius: 20px;
  padding: 11px 13px;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  opacity: .9;
}
.mega-main-head .live-item .nav-link:hover{
  color: #FFF;
  box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.mega-main-head .live-item .nav-link.current{
  color: #FFF;
  background-color: #FF3C79;
}
.mega-main-head .live-item.la-roja-item .nav-link{
  background-color: #F14B4B;
  position: relative;
  padding-left: 35px;
  padding-right: 9px;
}
.mega-main-head .live-item.la-roja-item .nav-link:before{
  content: ' ';
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-color: #FFFEFE;
  border-radius: 12px;
  margin-right: 5px;
  position: absolute;
  left: 7px;
  top: 5px;
}
.mega-main-head .live-item.la-roja-item .nav-link:after{
  content: ' ';
  background: url(../../images/sprites-mega.png) no-repeat -104px -1px;
  position: absolute;
  width: 17px;
  height: 18px;
  left: 11px;
  top: 9px;
}
.mega-main-head .live-item.m25-item .nav-link{
  background-color: #FF3C79;
}
.mega-main-head .live-item.cap-completos .nav-link {
    background-color: #FDBC03;
}
.mega-main-head .live-item.espect-item .nav-link {
    background-color: #00CD70;
}
.mega-main-head .live-item.cap-completos .nav-link.current {
    box-shadow: 0 0px 13px 0px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.aling-right-col{
    display: inline-block;
    vertical-align: middle;
    width: 98%;
}
.mobile-nav-link{
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: #0095FF;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.3);
    color: #FFF;
    padding: 12px 10px 11px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    line-height: 1;
    text-align: center;
    margin-left: 4px;
}
/*buscador*/
.buscador-home{
    display: inline-block;
    position: relative;
    width: 97%;
    vertical-align: middle;
}
.toggle-search-wrap .buscador-home{
    width: 500px;
}
.buscador-home:after{
    content: ' ';
    background: url(../../images/sprites-mega.png) no-repeat -69px -1px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 20px;
    right: 17px;
    top: 7px;
}
.buscador-home .input-home{
    border-radius: 20px;
    height: 33px;
    background-color: transparent;
    border: 2px solid #FDE6FB;
    width: 100%;
    display: inline-block;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: 300;
    outline: none;
    padding-right: 40px;
}
.buscador-home .input-home::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.buscador-home .input-home::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.buscador-home .input-home:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.buscador-home .search-button-home{
    width: 36px;
    height: 33px;
    border: none;
    background-color: transparent;
    display: inline-block;
    outline: none;
    position: absolute;
    z-index: 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 0;
    top: 0;
    padding: 0;
}
/*social*/
.social-wrap{
  display: inline-block;
  vertical-align: middle;
}
.nav-right{
  float: right;
}
.circle-button{
    width: 33px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #FDE6FB;
    border-radius: 100%;
    overflow: hidden;
    text-indent: -100px;
    text-align: left;
    position: relative;
    -webkit-transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
    transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
}
.circle-button:hover{
      box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.5);
}
.circle-button.toggle-search:hover{
  cursor: pointer;
}
/*icono buscar*/
.search-icon:after{
    content: ' ';
    background: url(../../images/sprites-mega.png) no-repeat -69px -1px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 20px;
    right: 8px;
    top: 6px;
}
.social-icon:after{
    content: ' ';
    background: url(../../images/sprites-mega.png) no-repeat -121px -1px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 20px;
    right: 6px;
    top: 4px;
}
/*hidden-socials-toggle*/
.social-toggler{
  position: relative;
  margin-right: 10px;
}
.show-on-mobile-nav, a.circle-button.mobile-search-button{
  display: none;
}
/*wrap-socials*/
.toc-socials.social-wrap{
    background-color: #00CD70;
    position: absolute;
    box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-radius: 15px;
    right: -83px;
    bottom: -26px;
    width: 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.mega-main-head-wrap.fixed .mega-main-head .toc-socials.social-wrap{
    bottom: -59px
}
.social-toggler:hover .toc-socials.social-wrap{
   width: 200px;
   opacity: 1;
   overflow: visible;
}
.toc-socials.social-wrap:after{
    content: ' ';
    display: block;
    position: absolute;
    border: 11px solid transparent;
    border-bottom: 12px solid #00CD70;
    top: -10px;
    right: 90px;
    margin-top: -10px;
}
.toc-socials.social-wrap .social-item{
    margin: 0 5px;
}
/*search toggler*/
.toggle-search-wrap{
    position: absolute;
    left: 100px;
    top: 0;
    bottom: 0;
    right: 59px;
    background-color: #90208B;
    z-index: 10;
    height: auto;
    overflow: hidden;
    width: 0;
    opacity: 0;
    text-align: right;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
}
.toggle-search-wrap .buscador-home .input-home{
    transition: width 0.5s cubic-bezier(0.35, 0.2, 0, 1) .1s, opacity 0.5s ease .1s;
    width: 0;
    opacity: 0;
}
.toggle-search-wrap.visible{
    opacity: 1;
    width: auto;
}
.toggle-search-wrap.visible .buscador-home .input-home{
  width: 100%;
  opacity: 1;
  transition-delay: 0.1s;
}
.toggle-search.active.search-icon:after{
    content: 'X';
    background: none;
    color: #FFF;
    font-size: 2em;
    text-indent: 0;
    text-align: center;
    top: 5px;
    right: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
}
/**/
.mobile-lb-menu .social-wrap{
    text-align: center;
    display: none;
    padding: 16px 10px 9px;
    margin-top: 15px;
    border-top: 1px solid #9A3196;
}
.mobile-lb-menu .social-wrap:before{
    content: 'REDES SOCIALES';
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #FFDDFD;
    font-size: 1.1em;
    font-weight: 300;
}
.social-wrap .social-item{
    display: inline-block;
    margin: 0 3px;
}
.social-wrap .social-link{
     width: 33px;
    height: 33px;
    display: block;
    border: 2px solid #FFF;
    border-radius: 100%;
    overflow: hidden;
    text-indent: -100px;
    text-align: left;
    position: relative;
    -webkit-transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
    transition: background-color .15s ease, border-color .15s ease, box-shadow .2s ease;
}
.social-wrap .social-link:hover{
    box-shadow: 0 3px 20px -4px rgba(0, 0, 0, 0.6);
}
.social-wrap .social-link.fb:hover{
  background-color: #5476BD;
}
.social-wrap .social-link.tw:hover{
  background-color: #61B7F7;
}
.social-wrap .social-link.ig:hover{
  background-color: #1876BB
}
.social-wrap .social-link.yt:hover{
  background-color: #e03b3b;
}
.social-wrap .social-link:after{
  content: ' ';
  background: url(../../images/sprites-mega.png) no-repeat 0 0;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}
.social-wrap .social-link.fb:after{
    background-position: -1px -1px;
    width: 10px;
    height: 19px;
    left: 9px;
    top: 5px;
}
.social-wrap .social-link.tw:after{
    background-position: -13px -1px;
    width: 18px;
    height: 17px;
    left: 6px;
    top: 7px;
}
.social-wrap .social-link.ig:after{
    background-position: -31px -1px;
    width: 19px;
    height: 17px;
    left: 5px;
    top: 6px;
}
.social-wrap .social-link.yt:after{
    background-position: -49px -1px;
    width: 20px;
    height: 14px;
    left: 4px;
    top: 8px;
}
.social-wrap .social-link.wap:after{
    background-position: -86px -1px;
    width: 17px;
    height: 17px;
    left: 6px;
    top: 6px;
}
@media only screen and (min-width: 1600px){
  .mega-main-width{
    width: 1400px;
  }
  /*header*/
  .mega-main-head .nav-link{
    font-size: 1.3em;
  }
  .mega-main-head .nav-link.two-lines{
    padding-top: 10px;
  }
  .mega-main-head .nav-link br{
    display: none;
  }
}
@media only screen and (max-width: 1400px){
  .mega-main-width{
    width: 1100px;
  }
  /*header*/
  .mega-main-head{
    padding-right: 15px;
  }
  .mega-main-head .nav-wrap .nav-item{
    margin-left: 4px;
  }
  .mega-main-head .nav-link{

  }
  .mega-main-head .live-item span{
    display: none;
  }
  /*buscador*/
  .buscador-home{
   margin-right: 28%;
  }
}
@media only screen and (min-width: 1151px){
  .mobile-lb-menu{
    height: 100%!important;
  }
}
@media only screen and (max-width: 1150px){
  .mega-main-width{
    width: 100%;
    padding: 10px 40px;
  }
  .menu-is-ready .with-mega-toc-wrap, .menu-is-ready .masterWrap {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
  }
 /*=======================================
                TOUCH MENU
  ========================================*/
  /*HEADER*/
  .menu-toggle{
    display: block;
  }
  .mega-main-head{
    overflow: visible;
  }
  .mega-main-head-block {
    height: 86px;
}
  .mega-main-head, .mega-main-head-wrap{
    opacity: 1!important;
    height: 65px;
  }  
  .mega-main-head .mobile-lb-menu{
    position: absolute;
    z-index: 10;
    background-color: #90208B;
    border-radius: 15px;
    left: 0;
    padding: 6px 0 20px;
    width: 200px;
    top: 74px;
    overflow: auto;
  }
  .mega-main-wrap{
    
  }
  .go-home{
    display: none;
  }
  .show-on-mobile-nav{
    display: inline-block;
  }
  .mega-main-head .live-item.la-roja-item .nav-link{
    padding-left: 9px;
  }
  .circle-button.toggle-search{
    display: none;
  }
  a.circle-button.mobile-search-button{
    display: inline-block;
  }
  /*boton abrir menu*/
  .menu-toggle{
    float: left;
  }
  .mega-main-head .mega-logo{
    width: 40px!important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 5px;
  }
  .mega-toggle-nav{
    position: relative;
    z-index: 1;
    width: 97px;
    height: 34px;
    cursor: pointer;
    background-color: #FF3C79;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.3);
  }
  .mega-toggle-nav .bar-top, .mega-toggle-nav .bar-mid, .mega-toggle-nav .bar-bot {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    left: 9px;
    top: 7px;
    border-radius: 5px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: -webkit-transform 0.2s ease, top 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease, top 0.2s ease;
    transition: transform 0.2s ease, top 0.2s ease, -webkit-transform 0.2s ease;
  }
  .mega-toggle-nav .bar-mid {
    top: 15px;
  }
  .mega-toggle-nav .bar-bot {
    top: 23px;
  }
  .mega-toggle-nav .menu-text{
    position: absolute;
    left: 47px;
    top: 6px;
    z-index: 1;
    color: #FFF;
    border-left: 1px solid #FF5B8E;
    padding-left: 5px;
    height: 21px;
  }
  .mega-toggle-nav .menu-text:after{
    content: 'MENU';
   display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
  }
  body.active-menu .mega-toggle-nav .menu-text{
    left: 41px;
    padding-left: 3px
  }
  body.active-menu .mega-toggle-nav .bar-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
  }
  body.active-menu .mega-toggle-nav .bar-mid {
    display: none;
  }
  body.active-menu .mega-toggle-nav .bar-bot {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
  }
  body.active-menu .mega-toggle-nav .menu-text:after{
    content: 'CERRAR';
  }
  /*social mobile*/
  .mobile-lb-menu .social-wrap{
    display: block;
  }
  .mobile-lb-menu .social-wrap .social-link{
    border-color: #FFF;
  }
  .toc-socials.social-wrap{
    opacity: 1;
    width: auto;
    position: relative;
    bottom: auto;
    right: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0 10px 0;
    border-right: 1px solid #9A3196;
    border-radius: 0;
  }
  .mega-main-head-wrap.fixed .mega-main-head .toc-socials.social-wrap{
    bottom: auto;
  }
  .social-toggler:hover .toc-socials.social-wrap{
    width: auto;
  }
  .toc-socials.social-wrap:after, .circle-button.social-icon{
    display: none;
  }
  /*botones*/
  .mega-main-head .nav-wrap{
    float: none;
  }
  .nav-wrap.vert-center .center-content{
    display: block;
  }
  .mega-main-head .nav-wrap .nav-item{
    display: block;
    margin: 0;
  }
  .nav-wrap.vert-center:before{
    display: none;
  }
  .mega-main-head .nav-link{
    border-radius: 20px;
    padding: 11px 18px 12px!important;
    text-align: center;
    margin-bottom: 0;
    line-height: 1;
    border-bottom: 1px solid #9A3196;
    border-radius: 0;
  }
  .mega-main-head .live-item .nav-link{
    border-bottom: 0;
    margin: 10px;
  }
  /*nuevo menu a la izquierda*/
  html, body{
    overflow-x: hidden!important;
  }
  .mega-main-head .nav-wrap{
    height: auto;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }
  .mega-main-wrap {
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    /*transition: right 0.2s ease;
    right: 0;
    position: relative;*/
  }
  /*mueve el contenido a la derecha*/
  body.menu-is-ready .mega-main-wrap{
    -webkit-transform: translateX(210px);
    -ms-transform: translateX(210px);
    -o-transform: translateX(210px);
    transform: translateX(210px);
    /*right: -200px;*/
  }
  body.menu-is-ready .mega-main-head .nav-wrap{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  body.active-menu .mega-main-head-wrap.fixed .mega-main-head .nav-wrap  {
    top: 65px;
  }
  body.menu-is-ready .mega-main-head-wrap.fixed .mega-main-head .nav-wrap{
    left: 10px;
    /*height: auto!important;
    bottom: 10px;
    position: fixed;*/
  }
  .header-overlay{
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    position: fixed;
    background-color: #7B0A76;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }
   body.menu-is-ready .header-overlay{
    z-index: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  } 
  body.menu-is-ready .fixed .header-overlay{
    width: 220px;
  }
  /*=======================================*/
  .program-nav-toggle{
    display: inline-block;
  }
  .toggle-on-mobile .program-nav{
    display: none;
  }
  .toggle-on-mobile .p-nav-link{
    display: block;
  }
}
@media only screen and (max-width: 1024px){
	.vert-center {
	    height: 100%;
	}
	.mega-main-head .nav-wrap {
    margin-left: 0;
}
}
@media only screen and (max-width: 700px){
  .mega-main-width{
    padding: 10px;
  }
  .menu-is-ready .with-mega-toc-wrap, .menu-is-ready .masterWrap {
    -webkit-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -o-transform: translateX(220px);
    transform: translateX(220px);
  }
  /*header*/
  .header-overlay{
    width: 220px;
  }
  .mega-main-head .nav-wrap {
    margin-left: 0;
}
  .mega-main-head-wrap.fixed .mega-main-head{
    padding: 0 10px 0 0;
  }
  .mega-main-head-wrap.fixed .mega-main-head:hover, .mega-main-head-wrap.fixed .mega-main-head{
    box-shadow: none!important;
    height: 55px;
  }
}
@media only screen and (max-width: 540px){
  .social-toggler{
    display: none;
  }  
}



































/*OLD HEADER*/
/*
@font-face {
  font-family: 'Antartida';
  font-style: bold;
  font-weight: 700;
  src: url('http://servicios.mega.cl/resources/fonts/antartida-rounded/Antartida-Rounded-Medium.otf');
}
.toc-mega{
    width: 100%;
    z-index: 999;
    height: 42px;
    background-color: #90208B;
    position: fixed;
    text-align: right;
	}
	.toc-mega-main-logo{
    display: inline-block;
    margin: 1px 11px 0 8px;
    vertical-align: middle;
	}
	.toc-mega-main-logo img{
	    width: 36px;
    margin-top: 2px;
 }
	.toc-mega-item{
    color: #FBF6FA;
    font-size: 14px;
    font-family: 'Antartida', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding-top: 4px;
    position: relative;
    padding-right: 10px;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    background-color: #0095FF;
    padding: 8px 10px;
    border-radius: 20px;
    margin-right: 9px;
	}
	.toc-mega-item:hover{
		background-color: #199DFB;
	}
	.toc-mega-item:before{
    content: ' ';
    display: block;
    height: 30px;
    width: 1px;
    background-color: rgb(160, 54, 156);
    position: absolute;
    right: -11px;
    top: 0;
	}
	/*.toc-mega-item.toc-envivo:after{
		content: ' ';
		background: url(http://www.mega.cl/v3/website/themes/img/header/sprites_header_transversal.png);
		display: inline-block;
		width: 17px;
		height: 28px;
		background-position: -1px -59px;
		vertical-align: middle;
		margin-left: 5px;
	}*/