{include file="../_common/head.tpl"}

<body>

	{include file="../_common/pubHeader.tpl"}

	{include file="../_common/header.tpl"}

	<div class="mega-main-wrap">
		<div class="mega-main-width">

		<!-- Buscador 404-->
		<div class="search404">
		<h1>Lo sentimos....</h1>
		<h2>La página que buscas no existe en Mega.cl</h2>
		<p>{$site.urlBase}{$data.url_procedencia}</p>
		</div>
<div class="content-wrap clear">
				<div class="search-landing-form">
					<form method="get" action="http://www.mega.cl/buscador/" class="buscador-home">
						<input type="text" placeholder="Buscar" value="" name="q" class="input-home">
						<input type="submit" onclick="this.form.submit();return false;" value="" name="buscar" class="search-button-home">
					</form>
				</div>

				
			</div>


			<!--mas vistos-->

				<div class="home-sec clear lo-mas-slider">
					<div class="fantastic-title-wrap"><a href="{$site.urlBase}lo-mas-visto/"><h2 class="big-center-title">Lo más visto<svg class="title-tail" x="0px" y="0px" viewBox="0 0 20 47.5" enable-background="new 0 0 20 47.5" xml:space="preserve">
						<path fill-rule="evenodd" clip-rule="evenodd" fill="#90208B" d="M20,28.8c-8.4,0-19.5-3.3-20-17.5c0,17,0,27.7,0,37.4h20V27.6z"></path>
					</svg></h2></a></div>
					<div class="with-sidebar">
						<section class="medium-slide-1 with-sidebar-margin">
							{if isset($data.loMasVisto) && $data.loMasVisto}
							<div class="small-gallery-buttons medium-gallery">
								<div class="slider-overflow">
									<div class="medium-slider">

										{foreach $data.loMasVisto as  $key => $row}
											{if $site.isSmartphone && $key > 2}
												{break}
											{/if}

											{if $key <= 2}
											<div class="medium-slider-item">
												<article class="content-article mega-b-radius with-shadow">
													<a href="{$row.url}" class="content-link">
														<img src="{$row.imagen}?d=300x200">
														<header class="medium-hidden">
															<h3>{$row.titulo}<span class="the-button">ver más</span></h3>
														</header>
													</a>
												</article>
											</div>
											{else}
											<div class="medium-slider-item">
												<article class="content-article mega-b-radius with-shadow">
													<a href="{$row.url}" class="content-link">
														<img src="" data-lazy="{$row.imagen}?d=300x200">
														<header class="medium-hidden">
															<h3>{$row.titulo}<span class="the-button">ver más</span></h3>
														</header>
													</a>
												</article>
											</div>
											{/if}
										{/foreach}

									</div>
								</div>
							</div>
							{/if}
						</section>
					</div>

					<aside class="sidebar">
						<div class="aside-block">

							{include file="../_common/pubSidebar.tpl"}

						</div>
					</aside>
				</div>

			

			<div class="fw-banner-wrap">
				<div class="fw-banner-item">
					<div class="align">
					
						{if $site.isComputer}
						
							<script>OAS_AD('Left1');</script>
							
						{else}
						
							<script>OAS_AD('x12');</script>
							
						{/if}
						
					</div>
				</div>
			</div>

			<!--programas-->
			{if isset($data.programas) && $data.programas}

				<div class="full-width-sec home-sec">
					<section class="fw-sec-content">
						<div class="fantastic-title-wrap">
							<header>
								<h2 class="big-center-title"><a href="{$site.urlBase}programas/">Programas
									<svg class="title-tail" x="0px" y="0px" viewBox="0 0 20 47.5" enable-background="new 0 0 20 47.5" xml:space="preserve">
										<path fill-rule="evenodd" clip-rule="evenodd" fill="#FF3C79" d="M20,28.8c-8.4,0-19.5-3.3-20-17.5c0,17,0,27.7,0,37.4h20V27.6z"></path>
									</svg>
								</a></h2>
							</header>
						</div>
						<div class="mobile-program-scroll">
							<ul class="content-list clear cols-4">

								{foreach $data.programas as $key => $row}
									{if $key < 10}

										{if $site.isSmartphone && $key > 2}
											{break}
										{/if}

										<li class="content-item">
											<article class="content-article mega-b-radius with-shadow">
												<a href="{$row.url}" class="content-link">
													<img src="{$row.imagen}">
												</a>
											</article>
										</li>

									{/if}
								{/foreach}

							</ul>
						</div>
						<span class="button-centered"><a href="{$site.urlBase}programas/" class="button-normal">Ver todos</a></span>
					</section>
				</div>

			{/if}
	
			
			<div class="fw-banner-wrap">
				<div class="fw-banner-item">
					<div class="align">
						
						{if $site.isComputer}
						
							<script>OAS_AD('Left5');</script>
							
						{else}
						
							<script>OAS_AD('x16');</script>
							
      					{/if}
						
					</div>
				</div>
			</div>
		</div>

		{include file="../_common/footer.tpl"}

	</div>
</body>
</html>