{include file="../_common/head.tpl"}

<body class="mega-article">
	{include file="../_common/pubHeader.tpl"}

	{include file="../_common/header.tpl"}

	<div class="mega-main-wrap">
		<div class="mega-main-width">

		{if isset($data.articulo.video)}

			<section class="media-video mega-b-radius">
				<div class="content-wrap">
					<header class="article-header">
						<span class="date">{$data.articulo.fecha}</span>
						<h3 class="title">{$data.articulo.titulo}</h3>
					</header>
					<div class="content-article mega-b-radius with-shadow">

						{if $site.isSmartphone}

							<div class="media-container">
								<div class="media">

									{$autoplay='false'}
									{include file="../_common/video.tpl"}

								</div>
							</div>

						{else}

							<a href="{$site.urlBase}player/?id={$data.articulo.id}" class="content-link video-launch" data-iframeurl="{$site.urlBase}player/?id={$data.articulo.id}">
								<span class="video-play-overlay"></span>
								<span class="video-play-icon"></span>
								<img src="{$data.articulo.imagen}?d=900x500">
							</a>

						{/if}

					</div>
				</div>
			</section>

		{else}

			<section class="media-image mega-b-radius with-shadow content-article">
				{if $site.isSmartphone}
					<img src="{$data.articulo.imagen}?d=300x200">
				{else}
					<img src="{$data.articulo.imagen}?d=1200x500">
				{/if}
				<header>
					<h3 class="content-wrap">{$data.articulo.titulo}</h3>
				</header>
			</section>

		{/if}

			<div class="content-wrap clear">
				<div class="with-sidebar">
					<div class="with-sidebar-margin">
						<section class="article-section">
							<header class="text-header"><h3 class="bajada">{$data.articulo.bajada}</h3></header>
							<div class="article-text">
								<p>{$data.articulo.texto}</p>
							</div>
						</section>

						{include file="../_common/social.tpl"}

						{include file="./tpl/galeria.tpl"}


						<!-- Galería Recomendada -->
						<!--section class="article-section recomended">
							<header class="medium-header">
								<h3>Galería Recomendada</h3>
								<a href="#" class="caption">Dos infartantes presentaciones se toman el segundo capítulo de The Switch</a>
							</header>
							<div class="small-gallery small-gallery-buttons">
								<div class="slider-overflow">
									<div class="small-slider">
										<a href="#" class="gal-link"><img src="images/150x150.jpg"></a>
										<a href="#" class="gal-link"><img src="images/150x150-2.jpg"></a>
										<a href="#" class="gal-link"><img src="images/150x150-3.jpg"></a>
									</div>
								</div>
							</div>
							<span class="button-centered"><a href="#" class="button-normal">Ver galería</a></span>
						</section-->

						<section class="article-section">
							<header class="medium-header"><h3>Comentarios</h3></header>

							{include file="../_common/comentarios.tpl"}

						</section>
					</div>
				</div>

				<!--sidebar-->
				<aside class="sidebar">

					{include file="../_common/pubSidebar.tpl"}

					<div class="aside-block">

						{include file="./tpl/relacionados.tpl"}

					</div>

						{include file="../_common/pubSidebar2.tpl"}

				</aside>
			</div>

			<div class="fw-banner-wrap">

				{include file="../_common/pubFooter.tpl"}

			</div>
		</div>

		{include file="../_common/footer.tpl"}

	</div>

	{include file="../_common/player.tpl"}

</body>
</html>