{include file="../_common/head.tpl"}

<body class="landing-mega">
	{include file="../_common/pubHeader.tpl"}
	
	{include file="../_common/header.tpl"}

	<div class="mega-main-wrap">
		<div class="mega-main-width">

			<!--NAV-->
			<h2 class="big-center-title">Resultados de Búsqueda para: <span>{$data.texto}</span></h2>

			<!--CONTENIDO-->
			<div class="content-wrap clear">
				<div class="search-landing-form">
					<form method="get" action="{$site.urlBase}buscador/" class="buscador-home">
						<input type="text" placeholder="Buscar" value="{$data.texto}" name="q" class="input-home">
						<input type="submit" onclick="this.form.submit();return false;" value="" name="buscar" class="search-button-home">
					</form>
				</div>

				{include file="./tpl/main.tpl"}
			</div>

			<div class="fw-banner-wrap">
				{include file="../_common/pubFooter.tpl"}
			</div>
		</div>

		{include file="../_common/footer.tpl"}

	</div>
</body>
</html>