{include file="../_common/head.tpl"}

<body>
	<div class="mega-main-wrap">

		{include file="../_common/header.tpl"}

		{$data.msg}

		{include file="../_common/footer.tpl"}
		
	</div>
</body>
</html>