{include file="../_common/head.tpl"}

<body>
	<div class="mega-main-wrap">

		{include file="../_common/header.tpl"}
		
		<section class="content-landing clear">
			<div class="main-width">
			<header class="sec-header">
				<h2>{$data.carpeta}</h2>
				<p></p>
			</header>
				<div class="with-sb-wrap">
					<div class="with-sb">
						<ul class="normal-lists article-list clear">

						{foreach $data.articulos.rows as $row}

							<li class="normal-li">
								<div class="normal-item">
									<a href="{$row.url}">
										<img src="{$site.urlStatic}morande/images/placeholder-3x2.gif">
										<img src="{$row.imagen}?d=480x320" class="dest-img">
										<h3>{$row.titulo}</h3>
									</a>
								</div>
							</li>

                        {/foreach}

						</ul>

						<!-- PAGINADOR -->
						{$rutaPag="`$data.paginador`?"}
						{include file="../_common/paginador.tpl"}

					</div>
				</div>
			</div>
		</section>
		
		{include file="../_common/footer.tpl"}
		
	</div>
</body>
</html>